<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/add-users.png'>
          <h3 class="header-nav-products">Add User</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="userDetailsForm">
    <div formArrayName="userDetails" *ngFor="let userDetails of userDetailsFields?.controls; let i = index">
      <div [formGroupName]="i">
        <ion-card>
          <ion-card-content>
            <div class="form-array-index">
              <h6>User {{i + 1}}</h6>
              <ion-button *ngIf="userDetailsFields != null && userDetailsFields.length > 1"
                (click)="removeUserDetails(i)" class="delete-product-btn" color="gunung-nago-warehouse"><span
                  class="material-icons">delete</span></ion-button>
            </div>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Username*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="username" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.username">
                    <div class="error-message"
                      *ngIf="userDetails.get('username')?.hasError(error.type) && (userDetails.get('username')?.dirty || userDetails.get('username')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Password*" label-placement="floating" fill="outline"
                  type="password" clear-input="true" formControlName="password" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.password">
                    <div class="error-message"
                      *ngIf="userDetails.get('password')?.hasError(error.type) && (userDetails.get('password')?.dirty || userDetails.get('password')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="First Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="firstName" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.firstName">
                    <div class="error-message"
                      *ngIf="userDetails.get('firstName')?.hasError(error.type) && (userDetails.get('firstName')?.dirty || userDetails.get('firstName')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Last Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="lastName" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.lastName">
                    <div class="error-message"
                      *ngIf="userDetails.get('lastName')?.hasError(error.type) && (userDetails.get('lastName')?.dirty || userDetails.get('lastName')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <mat-form-field class="date-full-width" appearance="outline">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Email" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="email"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.email">
                    <div class="error-message"
                      *ngIf="userDetails.get('email')?.hasError(error.type) && (userDetails.get('email')?.dirty || userDetails.get('email')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="address"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Telephone Number*" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="phone" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.phone">
                    <div class="error-message"
                      *ngIf="userDetails.get('phone')?.hasError(error.type) && (userDetails.get('phone')?.dirty || userDetails.get('phone')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-md="6">
                <ion-select color="gunung-nago-primary" label="Role*" label-placement="floating" fill="outline"
                  interface="popover" required="true" formControlName="roles" [multiple]="true">
                  <ion-select-option *ngFor="let farm of roles" [value]="farm.roleId">
                    {{farm.role}}
                  </ion-select-option>
                </ion-select>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.farm">
                    <div class="error-message"
                      *ngIf="userDetails.get('roles')?.hasError(error.type) && (userDetails.get('roles')?.dirty || userDetails.get('roles')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-select color="gunung-nago-primary" label="Farm*" label-placement="floating" fill="outline"
                  interface="popover" required="true" formControlName="farms" [multiple]="true">
                  <ion-select-option *ngFor="let farm of farms" [value]="farm.id">
                    <strong>Name: </strong>{{farm.name}} |
                    <strong>Address: </strong>{{farm.name}}
                  </ion-select-option>
                </ion-select>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.farm">
                    <div class="error-message"
                      *ngIf="userDetails.get('farm')?.hasError(error.type) && (userDetails.get('farm')?.dirty || userDetails.get('farm')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="neutral-btn mr-05" (click)="addUserDetails()">Add User</ion-button>
      <ion-button color="positive-btn" [disabled]="userDetailsForm.invalid" (click)="save()">Save</ion-button>
    </div>
  </form>
</ion-content>