<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/header-icon/cage.png'>
          <h3 class="header-nav-products">{{ 'cage.cage-list.cage-list' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="container">
    <ion-item-divider>
      <ion-label>NORMAL</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cages">
        <ion-card color="gunung-nago-primary">
          <ion-card-content class="home-card-content">
            {{cage}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider>
      <ion-label>DARA</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDara">
        <ion-card color="gunung-nago-report">
          <ion-card-content class="home-card-content">
            {{cage}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider>
      <ion-label>DOC</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDoc">
        <ion-card color="gunung-nago-flock">
          <ion-card-content class="home-card-content">
            {{cage}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>