<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/add-supplier.png'>
          <h3 class="header-nav-products">Add Supplier</h3>
        </div>
        <div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="supplierDetailsForm">
    <div formArrayName="supplierDetails" *ngFor="let supplierDetails of supplierDetailsFields?.controls; let i = index">
      <div [formGroupName]="i">
        <ion-card>
          <ion-card-content>
            <div class="form-array-index">
              <h6>Supplier {{i + 1}}</h6>
              <ion-button *ngIf="supplierDetailsFields != null && supplierDetailsFields.length > 1"
                (click)="removeSupplierDetails(i)" class="delete-product-btn" color="gunung-nago-warehouse"><span
                  class="material-icons">delete</span></ion-button>
            </div>
            <ion-row>
              <ion-col size-xs="12" size-md="6">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="12">
                <ion-toggle labelPlacement="start" class="toggle" formControlName="internal"
                  color="gunung-nago-report">Internal*</ion-toggle>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="name" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.name">
                    <div class="error-message"
                      *ngIf="supplierDetails.get('name')?.hasError(error.type) && (supplierDetails.get('name')?.dirty || supplierDetails.get('name')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Email*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="email" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.email">
                    <div class="error-message"
                      *ngIf="supplierDetails.get('email')?.hasError(error.type) && (supplierDetails.get('email')?.dirty || supplierDetails.get('email')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="address"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number*" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumber"
                  required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                    <div class="error-message"
                      *ngIf="supplierDetails.get('telephoneNumber')?.hasError(error.type) && (supplierDetails.get('telephoneNumber')?.dirty || supplierDetails.get('telephoneNumber')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number 2" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumberTwo"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number 3" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumberThree"></ion-input>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="neutral-btn mr-05" (click)="addSupplierDetails()">Add Supplier</ion-button>
      <ion-button color="positive-btn" [disabled]="supplierDetailsForm.invalid" (click)="save()">Save</ion-button>
    </div>
  </form>
</ion-content>