<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/manure-sale.png'>
          <h3 class="header-nav-products">Manure Sale Details</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="manureSaleForm">
    <ion-row>
      <ion-col col-md-6 size="6" size-sm>
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/customer.png'>
          <div class="form-section-cart">Customer</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Customer Details</ion-label>
            </ion-item-divider>
            <div>
              <ion-row>
                <ion-col>
                  <ion-toggle labelPlacement="start" class="toggle" formControlName="newCustomer"
                    (ionChange)="newCustomerChange($event)" color="gunung-nago-report">New
                    Customer*</ion-toggle>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!isNewCustomer">
                <ion-col size="12">
                  <mat-form-field class="autocomplete-full-width" appearance="outline">
                    <input matInput placeholder="Search customer..." [(ngModel)]="selectedCustomer"
                      [matAutocomplete]="auto" [formControl]="searchCustomerCtrl" placeholder="Seach customer...">
                    <button *ngIf="selectedCustomer" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearCustomer(searchCustomerCtrl)">
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                    <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete"
                      (optionSelected)="setSelectedCustomer($event)" [displayWith]="displayWith">
                      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                          <span>{{customer.lastName}} {{customer.firstName}}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row formGroupName="customer">
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="firstName" label="First Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.firstName">
                      <div class="error-message"
                        *ngIf="manureSaleForm.get('customer.firstName')?.hasError(error.type) && (manureSaleForm.get('customer.firstName')?.dirty || manureSaleForm.get('customer.firstName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="lastName" label="Last Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.lastName">
                      <div class="error-message"
                        *ngIf="manureSaleForm.get('customer.lastName')?.hasError(error.type) && (manureSaleForm.get('customer.lastName')?.dirty || manureSaleForm.get('customer.lastName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="customer">
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="address" label="Address" label-placement="floating" fill="outline"
                    type="text" clear-input="true">
                  </ion-input>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="telephoneNumber" label="Telephone*" label-placement="floating"
                    fill="outline" type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                      <div class="error-message"
                        *ngIf="manureSaleForm.get('customer.telephoneNumber')?.hasError(error.type) && (manureSaleForm.get('customer.telephoneNumber')?.dirty || manureSaleForm.get('customer.telephoneNumber')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-6 size="6" size-sm>
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/manure.png'>
          <div class="form-section-cart">Manure</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Manure Stock</ion-label>
            </ion-item-divider>
            <div class="manure-stock">
              <div class="manure-section">
                <div>
                  <strong>Bags</strong>
                </div>
                <img class="manures" src='./assets/flaticon/manure-bag.png'>
                <div class="manure-count">
                  <strong>{{manureStock.bags}}</strong>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="subtitle">
      <img class="cart-logo" src='./assets/flaticon/manure-bag.png'>
      <div class="form-section-cart">Quantity and Price</div>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size-xs="12" size-md="4">
            <div class="divider-wrapper">
              <div class="manure-section">
                <img class="manure-img" src='./assets/flaticon/manure-bag.png'>
                <div class="manure-count">
                  <strong>{{manureStock.bags - quantity}}</strong>
                </div>
              </div>
              <div class="divider-text">
                <ion-item-divider>
                  <ion-label>Bags</ion-label>
                </ion-item-divider>
              </div>
            </div>

            <div>
              <ion-input color="gunung-nago-survey" label="Quantity" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" formControlName="quantity" [(ngModel)]="quantity"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.minValue">
                  <div class="error-message"
                    *ngIf="manureSaleForm.get('quantity')?.hasError(error.type) && (manureSaleForm.get('quantity')?.dirty || manureSaleForm.get('quantity')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Price" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" formControlName="price" [(ngModel)]="price"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.minValue">
                  <div class="error-message"
                    *ngIf="manureSaleForm.get('price')?.hasError(error.type) && (manureSaleForm.get('price')?.dirty || manureSaleForm.get('price')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="total-per">
              <strong>Total Price: {{quantity * price}}</strong>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="btn-container">
      <ion-button class="cancel-btn" (click)="reset()">Cancel</ion-button>
      <ion-button color="positive-btn"
        [disabled]="manureSaleForm.invalid || (quantity > manureStock.bags) || (quantity < 1) || price < 1"
        (click)="openModal()">Save</ion-button>
    </div>
  </form>

  <ion-row>
    <ion-col size-lg="8" size-md="6" size-xs="12">
      <ion-card class="invoice" *ngIf="(quantity * price > 1) && !(quantity > manureStock.bags)">
        <ion-card-content>
          <div class="subtitle">
            <img class="cart-logo" src='./assets/flaticon/official-documents.png'>
            <div class="form-section-cart">Preview Sales Invoice</div>
          </div>
          <div class="invoice-title">
            <div>
              <div class="invoice-logo">
                <img class="logo-img" src='./assets/icon/chicken/icons8-chicken-64.png'>
                <h5 class="logo-text"><strong>{{company}}</strong></h5>
              </div>
              <div>
                <div class="sub"><strong>Address:</strong> {{address}} </div>
                <div class="sub"><strong>Telephone Number(s):</strong> {{phone}}</div>
                <div class="sub"><strong>Email:</strong> {{email}}</div>
                <!-- <div class="sub"><strong>Registration Number (SIUP):</strong> {{regNo}}</div> -->
                <div class="sub"><strong>Year of Establishment:</strong> {{yoe}}</div>
              </div>
            </div>

            <div>
              <span class="main"><strong>Invoice No: ...</strong></span>
              <div class="sub"><strong>Date Issued:</strong> </div>
              <div class="sub">{{today | date:'EEEE, MMMM d, y HH:mm'}}
              </div>
            </div>
          </div>
          <div class="invoice-subtitle">
            <div
              *ngIf="manureSaleForm.get('customer.firstName')?.value != 'anonymous' && manureSaleForm.get('customer.firstName')?.value != null && manureSaleForm.get('customer.firstName')?.value != ''">
              <div class="sub"><strong>Invoice To:</strong></div>
              <span class="sub"><strong>Name:
                </strong> {{manureSaleForm.get('customer.firstName')?.value}}
                {{manureSaleForm.get('customer.lastName')?.value}}</span>
              <div class="sub">
                <strong>Address:</strong> {{manureSaleForm.get('customer.address')?.value}}
              </div>
              <div class="sub"><strong>Telephone
                  Number:</strong> {{manureSaleForm.get('customer.telephoneNumber')?.value}}</div>
            </div>
            <div>
              <!-- <div *ngIf="manureSalesInvoiceDetailsFrontDto.salesPerson != null" class="salesperson">
                <div class="sub"><strong>Salesperson:</strong> {{manureSalesInvoiceDetailsFrontDto.salesPerson}}</div>
              </div>
              <div *ngIf="manureSalesInvoiceDetailsFrontDto.driverFirstName != null">
                <div class="sub"><strong>Driver:</strong> {{manureSalesInvoiceDetailsFrontDto.driverFirstName}}
                  {{manureSalesInvoiceDetailsFrontDto.driverLastName}}</div>
              </div> -->
            </div>
          </div>

          <table class="invoice-table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Product">MANURE</td>
                <td data-label="Quantity">{{quantity}} - <strong>BAG(S)</strong></td>
                <td data-label="Unit Price">Rp {{price | number : '1.2-2'}}</td>
                <td data-label="Amount">Rp {{quantity * price | number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>

          <div class="invoice-footer">
            <div>
            </div>
            <div>
              <div class="invoice-date-title">
                <table class="summary-table">
                  <tbody>
                    <tr>
                      <th id="total" colspan="1">SubTotal :</th>
                      <td>Rp {{quantity * price | number :'1.2-2'}}</td>
                    </tr>
                    <tr>
                      <th id="total" colspan="1">Total :</th>
                      <td>Rp {{quantity * price | number :'1.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-lg="4" size-md="6" size-xs="12">

    </ion-col>
  </ion-row>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="payment-modal"
    backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/confirmation.png'>
            <h3 class="modal-header-text">Payment Confirmation</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="paymentForm">
          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Total Price" label-placement="floating" fill="outline"
                type="number" formControlName="totalPrice"></ion-input>
            </ion-col>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Sold at*" label-placement="floating" fill="outline"
                type="number" formControlName="soldAt"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.soldAt">
                  <div class="error-message"
                    *ngIf="paymentForm.get('soldAt')?.hasError(error.type) && (paymentForm.get('soldAt')?.dirty || paymentForm.get('soldAt')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Discount (%)" label-placement="floating" fill="outline"
                [disabled]="true" type="number"
                [value]="(((paymentForm.get('totalPrice')?.value - paymentForm.get('soldAt')?.value)) / paymentForm.get('totalPrice')?.value) * 100"></ion-input>
            </ion-col>
          </ion-row>

          <div class="add-payment-area">
            <div>

            </div>
            <div>
              <ion-button color="neutral-btn" class="add-payment-btn" (click)="addPayment()">Add Payment</ion-button>
            </div>
          </div>

          <div formArrayName="payments" *ngFor="let payment of paymentsFields?.controls; let i = index">
            <ion-item-divider>
              <ion-label>Payment</ion-label>
            </ion-item-divider>
            <span [formGroupName]="i">
              <ion-button *ngIf="paymentsFields != null && paymentsFields.length > 1" (click)="removePayment(i)"
                class="remove-payment-btn" color="gunung-nago-warehouse"><span class="material-icons">delete</span></ion-button>
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-input color="gunung-nago-primary" label="Amount Paid" label-placement="floating" fill="outline"
                    type="number" formControlName="amountPaid"></ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.amountPaid">
                      <div class="error-message"
                        *ngIf="payment.get('amountPaid')?.hasError(error.type) && (payment.get('amountPaid')?.dirty || payment.get('amountPaid')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Payment Mode" label-placement="floating" fill="outline"
                    interface="popover" placeholder="Payment Mode" formControlName="paymentType">
                    <ion-select-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">{{
                      paymentType | titlecase}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.paymentType">
                      <div class="error-message"
                        *ngIf="payment.get('paymentType')?.hasError(error.type) && (payment.get('paymentType')?.dirty || payment.get('paymentType')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentType')?.value === 'CREDIT'">
                <ion-col size="6">
                  <mat-form-field class="date-full-width" appearance="outline">
                    <mat-label>Payment Deadline</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="today" formControlName="paymentDeadline">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ion-col>
              </ion-row>
            </span>
          </div>
        </form>
        <ion-row>
          <ion-col size="3">
            <ion-item-divider>
              <ion-label>Option</ion-label>
            </ion-item-divider>
            <ion-radio-group [(ngModel)]="salesInvoiceCategory" (ionChange)="selectSalesInvoiceCategory($event)">
              <div *ngFor="let salesInvoiceCategory of salesInvoiceCategories" class="radio-class">
                <ion-radio color="positive-btn" [value]="salesInvoiceCategory">{{salesInvoiceCategory === 'IN_STORE'?
                  'In Store' : 'Delivery'}}</ion-radio><br />
              </div>
            </ion-radio-group>
          </ion-col>
          <ion-col size="9" *ngIf="showDriver">
            <ion-item-divider>
              <ion-label>Driver</ion-label>
            </ion-item-divider>
            <ion-select color="gunung-nago-primary" label="Driver" label-placement="floating" fill="outline"
              interface="popover" placeholder="Driver" [(ngModel)]="selectedDriver">
              <ion-select-option *ngFor="let driver of drivers" [value]="driver">{{driver.firstName}}
                {{driver.lastName}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-sm>
            <ion-textarea class="comment" color="gunung-nago-primary" label="Comments" label-placement="floating"
              fill="outline" type="text" clear-input="true" [(ngModel)]="comment" [autoGrow]="true"></ion-textarea>
          </ion-col>
        </ion-row>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn"
            [disabled]="!checkPaymentLessThanSoldAt() || paymentForm.invalid || totalPrice < 1 || !checkPaymentCompleted()"
            (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>