<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/sales-invoice.png'>
          <h3 class="header-nav-products">Sales Invoice List</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-searchbar placeholder="Search by customer name..." type="text" #customerName
            (ionInput)="searchByCustomerName(customerName.value)"></ion-searchbar>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="filters">
            <div>

            </div>
            <div>
              <ion-button class="reset" (click)="reset()">Reset Filters</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Salesperson" label-placement="floating" fill="outline"
            interface="popover" placeholder="" [(ngModel)]="username" (ionChange)="ionChangeUsername($event)">
            <ion-select-option value='' selected="true">All</ion-select-option>
            <ion-select-option *ngFor="let username of usernames" [value]="username">{{username |
              titlecase}}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Driver" label-placement="floating" fill="outline"
            interface="popover" placeholder="Driver" [(ngModel)]="selectedDriverId"
            (ionChange)="ionChangeDriver($event)">
            <ion-select-option value='0' selected="true">All</ion-select-option>
            <ion-select-option *ngFor="let driver of drivers" [value]="driver.id">{{driver.firstName}}
              {{driver.lastName}}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size-xs="12" size-md="2">
          <ion-label>Date Issued From </ion-label>
          <div class="date-time-picker-container">
            <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>
            <ion-chip class="date-time-picer-clear" (click)="clearDateFrom()" *ngIf="dateFrom">
              <ion-icon class="date-time-picker-clear-icon" name="close-outline"></ion-icon>
            </ion-chip>
          </div>

          <ion-popover [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetimeFrom" [(ngModel)]="dateFrom" (ngModelChange)="selectDateFrom()"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-col>

        <ion-col size-xs="12" size-md="2">
          <ion-label>Date Issued To </ion-label>
          <div class="date-time-picker-container">
            <ion-datetime-button datetime="datetimeTo"></ion-datetime-button>
            <ion-chip class="date-time-picer-clear" (click)="clearDateTo()" *ngIf="dateTo">
              <ion-icon class="date-time-picker-clear-icon" name="close-outline"></ion-icon>
            </ion-chip>
          </div>

          <ion-popover [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetimeTo" [(ngModel)]="dateTo" (ngModelChange)="selectDateTo()"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Status" label-placement="floating" fill="outline"
            interface="popover" clear-input="true" placeholder="Status" [(ngModel)]="salesInvoiceStatus"
            (ionChange)="ionChangeStatus($event)">
            <ion-select-option value='' selected="true">All</ion-select-option>
            <ion-select-option *ngFor="let salesInvoiceStatus of salesInvoiceStatuses" [value]="salesInvoiceStatus">{{
              salesInvoiceStatus | titlecase
              }}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Option" label-placement="floating" fill="outline"
            interface="popover" clear-input="true" placeholder="Status" [(ngModel)]="salesInvoiceCategory"
            (ionChange)="ionChangeCategory($event)">
            <ion-select-option value='' selected="true">All</ion-select-option>
            <ion-select-option *ngFor="let salesInvoiceCategory of salesInvoiceCategories"
              [value]="salesInvoiceCategory">{{
              salesInvoiceCategory | titlecase
              }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true"
        [dataSource]="salesInvoices">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> Invoice Number </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Customer Name </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.customerFirstName != 'anonymous'">{{element.customerFirstName}}</span>
            <span *ngIf="element.customerLastName != 'anonymous'"> {{element.customerLastName}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy"> Salesperson </th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy | titlecase}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="salesInvoiceType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="salesInvoiceType"> Type </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesInvoiceType === 'FLOCK'" class="table-content-wrapper">
              <img class="table-content-icon" src='./assets/flaticon/flock.png'>
              <div class="table-content-text">Flock</div>
            </div>
            <div *ngIf="element.salesInvoiceType === 'EGG'" class="table-content-wrapper">
              <img class="table-content-icon" src='./assets/flaticon/eggs.png'>
              <div class="table-content-text">Egg</div>
            </div>
            <div *ngIf="element.salesInvoiceType === 'MANURE'" class="table-content-wrapper">
              <img class="table-content-icon" src='./assets/flaticon/manure-bag.png'>
              <div class="table-content-text">Manure</div>
            </div>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDate"> Date Issued </th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd-MM-yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="category"> Option </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.salesInvoiceCategory === 'IN_STORE'" class="table-content-wrapper">
              <img class="table-content-icon" src='./assets/flaticon/in-store.png'>
              <div class="table-content-text">In Store</div>
            </div>
            <div *ngIf="element.salesInvoiceCategory === 'DELIVERY'" class="table-content-wrapper">
              <img class="table-content-icon" src='./assets/flaticon/delivery.png'>
              <div class="table-content-text">Delivery</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
          <td mat-cell *matCellDef="let element">
            <ion-chip class="chip-paid" *ngIf="element.salesInvoiceStatus === 'PAID'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-pending" *ngIf="element.salesInvoiceStatus === 'PENDING'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-cancelled" *ngIf="element.salesInvoiceStatus === 'CANCELLED'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-approved" *ngIf="element.salesInvoiceStatus === 'APPROVED'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-completed" *ngIf="element.salesInvoiceStatus === 'COMPLETED'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-past-due" *ngIf="element.salesInvoiceStatus === 'PAST_DUE'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
            <ion-chip class="chip-outstanding" *ngIf="element.salesInvoiceStatus === 'OUTSTANDING'">
              <ion-label>{{element.salesInvoiceStatus | titlecase}}</ion-label>
            </ion-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="driver">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="driver"> Driver </th>
          <td mat-cell *matCellDef="let element"> {{element.driverFirstName}} {{element.driverLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="totalPrice"> Total Price </th>
          <td mat-cell *matCellDef="let element"> {{element.totalPrice | number :'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="soldAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="soldAt"> Sold At </th>
          <td mat-cell *matCellDef="let element"> {{element.soldAt | number :'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-icon color="positive-btn" class="table-view-details-icon mr-05" name="eye"
                (click)="routeToSalesInvoiceDetails(element)"></ion-icon>

              <ion-icon class="table-edit-icon mr-05" color="neutral-btn" (click)="routeToPointOfSalesEdit(element)"
                name="create"></ion-icon>

              <ion-icon class="table-view-more-icon" name="list" (click)="openStatusModal(element)"></ion-icon>

            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amountPaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="amountPaid"> Amount Paid </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let payment of element.paymentDtos">
              <span *ngIf="payment.paymentModeId !== 1">
                <strong>{{payment.paymentModeName | titlecase}}:</strong> {{payment.amountPaid | number :'1.2-2'}}
              </span>
            </div>
            <div><strong>Total:</strong> {{getTotalAmountPaid(element.paymentDtos) | number :'1.2-2'}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amountDue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="amountDue"> Amount Due </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let payment of element.paymentDtos">
              <span *ngIf="payment.paymentModeId == 1 && !payment.settled">
                <strong>Credit:</strong> {{payment.amountPaid | number :'1.2-2'}}
                <br>
                <strong>Deadline:</strong> {{payment.paymentDeadline | date:'dd-MM-yyyy'}}
              </span>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more sales invoices...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal (willDismiss)="onModalStatusWillDismiss($event)" [isOpen]="isStatusModalOpen" cssClass="status-modal"
    backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/workflow.png'>
            <h3 class="modal-header-text">Change Invoice Status</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <ion-item-divider>Invoice</ion-item-divider>
        <ion-row class="status-modal-invoice">
          <ion-col size-xs="12" size-md="4">
            <div class="status-modal-invoice-item">
              Number: <strong>{{selectedInvoice.id}}</strong>
            </div>
            <div class="mt-1">
              <span *ngIf="selectedInvoice.customerFirstName != 'anonymous'">Customer Name:
                <strong>{{selectedInvoice.customerFirstName}} {{selectedInvoice.customerLastName}}</strong></span>
            </div>

            <div class="mt-1">
              <div>
                Total Price: <strong>{{selectedInvoice.totalPrice}}</strong>
              </div>
            </div>
            <div class="mt-1">
              <div>
                Sold At: <strong>{{selectedInvoice.soldAt}}</strong>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-md="4">
            <div>
              Date Issued: <strong>{{selectedInvoice.createdDate | date:'dd-MM-yyyy HH:mm'}}</strong>
            </div>
            <div class="mt-1" *ngIf="selectedInvoice.salesInvoiceCategory === 'DELIVERY'">
              <div class="d-flex">
                <img class="table-content-icon" src='./assets/flaticon/delivery.png'>
                <div class="table-content-text"><strong>Delivery</strong></div>
              </div>
            </div>
            <div class="mt-1" *ngIf="selectedInvoice.salesInvoiceCategory === 'IN_STORE'">
              <div class="d-flex">
                <img class="table-content-icon" src='./assets/flaticon/in-store.png'>
                <div class="table-content-text"><strong>In Store</strong></div>
              </div>
            </div>

            <div class="mt-1">
              <div>
                Discount: <strong>{{selectedInvoice.discount}} %</strong>
              </div>
            </div>

            <div class="mt-1" *ngIf="amountDue > 0">
              <div>
                Amount Due: <strong class="amount-due">{{amountDue}}</strong>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-md="4">
            <div class="modal-status-chip">
              <ion-chip class="chip-paid" *ngIf="selectedInvoice.salesInvoiceStatus === 'PAID'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-pending" *ngIf="selectedInvoice.salesInvoiceStatus === 'PENDING'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-cancelled" *ngIf="selectedInvoice.salesInvoiceStatus === 'CANCELLED'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-approved" *ngIf="selectedInvoice.salesInvoiceStatus === 'APPROVED'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-completed" *ngIf="selectedInvoice.salesInvoiceStatus === 'COMPLETED'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-past-due" *ngIf="selectedInvoice.salesInvoiceStatus === 'PAST_DUE'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
              <ion-chip class="chip-outstanding" *ngIf="selectedInvoice.salesInvoiceStatus === 'OUTSTANDING'">
                <ion-label>{{selectedInvoice.salesInvoiceStatus | titlecase}}</ion-label>
              </ion-chip>
            </div>
          </ion-col>
        </ion-row>

        <ion-item-divider class="mt-1">Status</ion-item-divider>
        <div>
          <ion-radio-group [(ngModel)]="selectedStatus">
            <div class="radio-class">
              <ion-radio value="CANCELLED" color="gunung-nago-warehouse" labelPlacement="end"
                [disabled]="selectedInvoice.salesInvoiceStatus == 'CANCELLED' || selectedInvoice.salesInvoiceStatus == 'PAID'">Cancelled</ion-radio><br />

              <ion-radio value="APPROVED"
                [disabled]="!(selectedInvoice.salesInvoiceCategory === 'DELIVERY' && selectedInvoice.salesInvoiceStatus === 'PENDING')"
                color="gunung-nago-survey" labelPlacement="end">Approved</ion-radio><br />

              <ion-radio value="COMPLETED"
                [disabled]="!(selectedInvoice.salesInvoiceCategory === 'DELIVERY' && selectedInvoice.salesInvoiceStatus === 'APPROVED')"
                color="gunung-nago-survey" labelPlacement="end">Completed</ion-radio><br />

              <ion-radio value="PAID"
                [disabled]="selectedInvoice.salesInvoiceStatus == 'PAID' || selectedInvoice.salesInvoiceStatus == 'CANCELLED'"
                color="positive-btn" labelPlacement="end">Paid</ion-radio><br />
            </div>
          </ion-radio-group>
        </div>

        <form [formGroup]="paymentForm" *ngIf="selectedStatus === 'PAID'">
          <ion-row *ngIf="selectedStatus === 'PAID' && (!selectedInvoice.discount || selectedInvoice.discount > 0)">
            <ion-col size-xs="5" size-md="5">
              <ion-input color="gunung-nago-primary" label="Total Price" label-placement="floating" fill="outline"
                type="number" formControlName="totalPrice"></ion-input>
            </ion-col>
            <ion-col size-xs="5" size-md="5">
              <ion-input color="gunung-nago-primary" label="Sold at*" label-placement="floating" fill="outline"
                type="number" formControlName="soldAt"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.soldAt">
                  <div class="error-message"
                    *ngIf="paymentForm.get('soldAt')?.hasError(error.type) && (paymentForm.get('soldAt')?.dirty || paymentForm.get('soldAt')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="2" size-md="2"
              *ngIf="selectedStatus === 'PAID' && (!selectedInvoice.discount || selectedInvoice.discount > 0)">
              <ion-input color="gunung-nago-primary" label="Discount (%)" label-placement="floating" fill="outline"
                [disabled]="true" type="number"
                [value]="(((paymentForm.get('totalPrice')?.value - paymentForm.get('soldAt')?.value)) / paymentForm.get('totalPrice')?.value) * 100"></ion-input>
            </ion-col>
          </ion-row>

          <div class="add-payment-area">
            <div>

            </div>
            <div>
              <ion-button color="neutral-btn" class="add-payment-btn" (click)="addPayment()">Add Payment</ion-button>
            </div>
          </div>

          <div formArrayName="payments" *ngFor="let payment of paymentsFields?.controls; let i = index">
            <ion-item-divider>
              <ion-label>Payment</ion-label>
            </ion-item-divider>
            <span [formGroupName]="i">
              <ion-button *ngIf="paymentsFields != null && paymentsFields.length > 1" (click)="removePayment(i)"
                class="remove-payment-btn" color="gunung-nago-warehouse"><span
                  class="material-icons">delete</span></ion-button>
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-input color="gunung-nago-primary" label="Amount Paid" label-placement="floating" fill="outline"
                    type="number" formControlName="amountPaid"></ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.amountPaid">
                      <div class="error-message"
                        *ngIf="payment.get('amountPaid')?.hasError(error.type) && (payment.get('amountPaid')?.dirty || payment.get('amountPaid')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Payment Mode" label-placement="floating" fill="outline"
                    interface="popover" placeholder="Payment Mode" formControlName="paymentModeId">
                    <ion-select-option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">{{
                      paymentMode.name| titlecase}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.paymentModeId">
                      <div class="error-message"
                        *ngIf="payment.get('paymentModeId')?.hasError(error.type) && (payment.get('paymentModeId')?.dirty || payment.get('paymentModeId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentModeId')?.value?.id === 1">
                <ion-col size="6">
                  <mat-form-field class="date-full-width" appearance="outline">
                    <mat-label>Payment Deadline</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="today" formControlName="paymentDeadline">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentModeId')?.value?.requireBankAccount">
                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Bank Account" label-placement="floating" fill="outline"
                    interface="popover" placeholder="Bank account" formControlName="bankAccountId">
                    <ion-select-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{
                      bankAccount.accountHolder| uppercase}} - {{bankAccount.accountNumber}} -
                      {{bankAccount.bankName}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.bankAccountId">
                      <div class="error-message"
                        *ngIf="payment.get('bankAccountId')?.hasError(error.type) && (payment.get('bankAccountId')?.dirty || payment.get('bankAccountId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

            </span>
          </div>
        </form>

        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancelStatusChange()">Cancel</ion-button>
          <ion-button color="positive-btn" *ngIf="selectedStatus !== 'PAID'"
            (click)="confirmStatusChange()">Save</ion-button>
          <ion-button color="positive-btn" *ngIf="selectedStatus === 'PAID'"
            [disabled]="!checkPaymentLessThanSoldAt() || paymentForm.invalid || selectedInvoice.totalPrice < 1 || !checkPaymentCompleted()"
            (click)="confirmStatusChange()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>