.input {
    width: 100%;
    padding-right: 10px;
}

table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

tbody {
    overflow-x: scroll;
}

// .mat-mdc-table tbody,
// .mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
// .mat-mdc-footer-cell,
// .mat-mdc-header-row,
// .mat-mdc-row,
// .mat-mdc-footer-row,
// .mat-mdc-table 
.mat-mdc-header-cell {
    border: 1px solid #CCC;
}

.mat-mdc-cell:first-child {
    border-left: 0;
}

.mat-mdc-cell:last-child {
    border-right: 0;
}

.mdc-data-table__header-cell {
    border-top: 0;
}

.mdc-data-table__header-cell:first-child {
    border-left: 0;
}

.mdc-data-table__header-cell:last-child {
    border-right: 0;
}

.mat-mdc-table .mdc-data-table__header-row {
    background: var(--ion-color-gunung-nago-sales-invoice);
    color: white;
}

.mdc-data-table__header-cell {
    color: white;
}


.chip-paid {
    background-color: var(--ion-color-gunung-nago-report);
    color: white;
    font-size: 15px;
}

.chip-pending {
    background-color: var(--ion-color-gunung-nago-feed);
    color: white;
    font-size: 15px;
}

.chip-outstanding {
    background-color: var(--ion-color-gunung-nago-feed);
    color: white;
    font-size: 15px;
}

.chip-cancelled {
    background-color: var(--ion-color-medium-tint);
    color: white;
    font-size: 15px;
}

.chip-past-due {
    background-color: var(--ion-color-gunung-nago-warehouse);
    color: white;
    font-size: 15px;
}

.chip-approved {
    background-color: var(--ion-color-gunung-nago-survey);
    color: white;
    font-size: 15px;
}

.chip-completed {
    background-color: var(--ion-color-gunung-nago-survey);
    color: white;
    font-size: 15px;
}

.chip-returned {
    background-color: var(--ion-color-neutral-btn);
    color: white;
    font-size: 15px;
}

.red {
    ion-datetime-button::part(native) {
        background: #FFF;
    }
}

.radio-class {
    margin: 10px;
}

.status-modal {
    --height: 60em;
    --width: 60em;
}

.status-modal-invoice {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.add-payment-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.remove-payment-btn {
    font-size: 12px;
    float: right;
    height: 30px;
    width: 40px;
    margin-top: 23px;
    margin-right: 5px;
}

.add-payment-area {
    display: flex;
    justify-content: space-between;
}

.amount-due {
    color: var(--ion-color-gunung-nago-warehouse)
}

.modal-status-chip {
    display: flex;
    justify-content: flex-end;
}

.mat-column-totalPrice {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-soldAt {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-soldAt {
    text-align: right;
}

.mat-column-amountPaid {
    text-align: right;
}

.mat-column-amountDue {
    text-align: right;
}

.report-card-margin {
    margin: 0;
}

.invoice {
    h5 {
        font-size: 24px;
        margin-bottom: 0;
    }

    ion-card-content {
        .main {
            color: black;
            font-size: 24px;
        }

        .sub {
            color: black;
            font-size: 15px;
        }
    }

    .invoice-margin {
        max-width: 85em;
        margin-bottom: 2em;

        .invoice {
            margin-right: 10px;
            margin-left: 10px;

            .invoice-title {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 15px;
                border-bottom: 1px solid lightgray;
            }
        }

        .print {
            float: right;
            margin-right: 7px;
        }

        .invoice-subtitle {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .invoice-footer {
            .padding-none {
                padding: 0;
            }

            th {
                text-align: start;
            }

            td {
                text-align: end;
            }

            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .footer-summary {
                // width: 55em;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .invoice-logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .logo-img {
            width: 40px;
            padding-right: 10px;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

        .logo-text {
            color: black;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        margin-top: 2em;
        color: black;
    }

    .invoice-table {
        width: 100%;
    }

    .summary-table {
        margin-top: 0;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
        border: 1px solid #ddd;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    textarea {
        width: 100%;
        margin-top: 1.5em;
        background-color: white;
        border-color: #ddd;
        color: black;
    }

    .salesperson {
        margin-bottom: 10px;
    }
}
