<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/egg-transfer.png'>
          <h3 class="header-nav-products">Egg Adjustment</h3>
        </div>
        <div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-row>
    <ion-col col-md-6 size="6" size-sm>
      <div class="subtitle">
        <img class="cart-logo" src='./assets/flaticon/eggs.png'>
        <div class="form-section-cart">Eggs</div>
      </div>
      <ion-card>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>Egg Stock</ion-label>
          </ion-item-divider>
          <div class="good-bad-egg-section">
            <div class="egg-section">
              <div>
                <strong>Total</strong>
              </div>
              <img class="eggs" src='./assets/flaticon/eggs.png'>
              <div class="egg-count">
                <!-- <strong>{{eggStock.totalEggs}}</strong> -->
              </div>
            </div>

            <div class="egg-section">
              <div>
                <strong>Good</strong>
              </div>
              <img class="eggs" src='./assets/flaticon/good-eggs.png'>
              <div class="egg-count">
                <!-- <strong>{{eggStock.goodEggs}}</strong> -->
              </div>
            </div>

            <div class="egg-section">
              <div>
                <strong>Bad</strong>
              </div>
              <img class="eggs" src='./assets/flaticon/bad-eggs.png'>
              <div class="egg-count">
                <!-- <strong>{{eggStock.badEggs}}</strong> -->
              </div>
            </div>
          </div>

          <ion-row class="egg-stock-section">
            <ion-col col-md-3 size="3" size-sm *ngFor="let eggCategory of eggStock.eggCategoryStockDtos">
              <div class="egg-section">
                <div>
                  <strong>{{eggCategory.name | titlecase}}</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/category-big.png'>
                <div class="egg-count">
                  <strong>{{eggCategory.quantity}}</strong>
                </div>
              </div>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-md-6 size="6" size-sm>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-md-6 size="6" size-sm>
      <div class="subtitle">
        <img class="cart-logo" src='./assets/flaticon/category.png'>
        <div class="form-section-cart">Egg Category</div>
      </div>
      <ion-card>
        <ion-card-content>
          <ion-item-divider>
            <ion-label>Select Egg Category</ion-label>
          </ion-item-divider>
          <ion-list>
            <ion-item *ngFor="let eggCategory of eggStock.eggCategoryStockDtos">
              <ion-checkbox [disabled]="!(eggCategory.quantity > 0)" justify="space-between" color="positive-btn"
                (ionChange)="addEggCategory($event, eggCategory)">{{eggCategory.name |
                titlecase}}</ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-md-6 size="6" size-sm></ion-col>
  </ion-row>

  <div class="subtitle" *ngIf="eggTransferAmountDtos.length > 0">
    <img class="cart-logo" src='./assets/flaticon/transfer.png'>
    <div class="form-section-cart">Transfer</div>
  </div>
  <ion-card *ngIf="eggTransferAmountDtos.length > 0">
    <ion-card-content *ngFor="let eggTransferAmountDto of eggTransferAmountDtos; let i = index">
      <div class="divider-wrapper">
        <div class="egg-section">
          <img *ngIf="eggTransferAmountDto.eggType != 'BAD'" class="big-eggs-form"
            src='./assets/flaticon/good-category.png'>
          <img *ngIf="eggTransferAmountDto.eggType == 'BAD'" class="big-eggs-form"
            src='./assets/flaticon/bad-category.png'>
          <div class="egg-count">
            <strong>{{(eggTransferAmountDto.quantity + (eggTransferAmountDto.tieIncrease * 300)+
              (eggTransferAmountDto.trayIncrease * 30) + eggTransferAmountDto.pieceIncrease)
              - ((eggTransferAmountDto.tieDecrease * 300)+
              (eggTransferAmountDto.trayDecrease * 30) + eggTransferAmountDto.pieceDecrease +
              (eggTransferAmountDto.tieUnsellable * 300) +
              (eggTransferAmountDto.trayUnsellable * 30) + eggTransferAmountDto.pieceUnsellable +
              (eggTransferAmountDto.tieTransfer * 300) +
              (eggTransferAmountDto.trayTransfer * 30) + eggTransferAmountDto.pieceTransfer)}}</strong>
          </div>
        </div>
        <div class="divider-text">
          <ion-item-divider>
            <ion-label>{{eggTransferAmountDto.name | titlecase}} Eggs</ion-label>
          </ion-item-divider>
        </div>
      </div>
      <ion-row>
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <ion-item-divider>
              <ion-label>Tie</ion-label>
            </ion-item-divider>
            <div>
              <ion-input color="gunung-nago-survey" label="Increase Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.tieIncrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Decrease Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.tieDecrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Unsellable Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.tieUnsellable"></ion-input>
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <ion-item-divider>
              <ion-label>Tray</ion-label>
            </ion-item-divider>
            <div>
              <ion-input color="gunung-nago-survey" label="Increase Tray" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.trayIncrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Decrease Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.trayDecrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Unsellable Tray" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.trayUnsellable"></ion-input>
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <ion-item-divider>
              <ion-label>Piece</ion-label>
            </ion-item-divider>
            <div>
              <ion-input color="gunung-nago-survey" label="Increase Piece" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.pieceIncrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Decrease Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.pieceDecrease"></ion-input>
            </div>
            <div class="mt-1">
              <ion-input color="gunung-nago-survey" label="Unsellable Piece" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.pieceUnsellable"></ion-input>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="mt-1">
        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Transfer Egg Category" label-placement="floating"
            fill="outline" interface="popover" clear-input="true"
            [(ngModel)]="eggTransferAmountDto.transferEggCategoryId"
            (ionChange)="ionChangeEggCategory($event, eggTransferAmountDto)">
            <ion-select-option *ngFor="let eggCategory of eggCategories" [value]="eggCategory.id"
              [disabled]="eggCategory.id===eggTransferAmountDto.eggCategoryId">{{ eggCategory.name
              }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="eggTransferAmountDto.transferEggCategoryId">
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <div>
              <ion-input color="gunung-nago-survey" label="Transfer Tie" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.tieTransfer"></ion-input>
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <div>
              <ion-input color="gunung-nago-survey" label="Transfer Tray" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.trayTransfer"></ion-input>
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-md="4">
          <div class="egg-form-section-left">
            <div>
              <ion-input color="gunung-nago-survey" label="Transfer Piece" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="eggTransferAmountDto.pieceTransfer"></ion-input>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div class="modal-btn-container ion-text-right">
    <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
    <ion-button color="positive-btn" (click)="save()">Save</ion-button>
  </div>
</ion-content>