<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/eggs.png'>
          <h3 class="header-nav-products">Egg Categories</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="btn-container">
    <ion-button color="neutral-btn" routerLink="/egg/egg-category-details"><ion-icon name="add"></ion-icon></ion-button>
  </div>
  <!-- <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="3">
        </ion-col>
        <ion-col size-xs="12" size-md="9">
          <div class="filters">
            <div>

            </div>
            <div>
              <ion-button class="reset" (click)="reset()">Reset Filters</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true"
        [dataSource]="eggCategories">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="eggType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="eggType"> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.eggType | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-icon color="positive-btn" class="table-stock-icon" [src]="stock"></ion-icon>

              <ion-icon *ngIf="element.id != 4" class="table-edit-icon ml-05" color="neutral-btn" (click)="openModal(element)"
                name="create"></ion-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more egg categories...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="cage-modal" backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/edit.png'>
            <h3 class="modal-header-text">Edit Egg Category</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="eggCategoryEditForm">
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline" type="text"
                clear-input="true" formControlName="name" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.name">
                  <div class="error-message"
                    *ngIf="eggCategoryEditForm.get('name')?.hasError(error.type) && (eggCategoryEditForm.get('name')?.dirty || eggCategoryEditForm.get('name')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>