<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/cage-survey.png'>
          <h3 class="header-nav-products">{{ 'cage.cage-list.cage-list' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="container">
    <ion-item-divider class="norm">
      <ion-label color="norm">NORMAL</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cages">
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        <ion-card color="norm" (click)="routeToSurveyDetails(cage)">
          <ion-card-content class="home-card-content">
            {{cage.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider class="dara">
      <ion-label color="dara">DARA</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDara">
        <ion-card color="dara" (click)="routeToSurveyDetails(cage)">
          <ion-card-content class="home-card-content">
            {{cage.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider class="doc">
      <ion-label color="doc">DOC</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDoc">
        <ion-card color="doc" (click)="routeToSurveyDetails(cage)">
          <ion-card-content class="home-card-content">
            {{cage.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isFlockAndCageIncompatible" cssClass="flock-modal"
    backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/warning.png'>
            <h3 class="modal-header-text">Warning</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <div class="warning-text">Flock of category <span color="red"><strong>{{flockCategory}}</strong></span> is
          incompatible with Cage of Category <span><strong>{{cageCategory}}</strong></span></div>
        <div class="warning-text mt-1">Please select the appropriate cage of press <span><strong>SKIP</strong></span> to
          continue</div>
        <form [formGroup]="transferForm">
          <ion-item-divider>
            <ion-label>Cage</ion-label>
          </ion-item-divider>
          <ion-row>
            <ion-col size-xs="12" size-md="3">
              <ion-select color="gunung-nago-primary" label="Cage" label-placement="floating" fill="outline"
                interface="popover" formControlName="cageId">
                <ion-select-option *ngFor="let cage of transferCages" [value]="cage.id">{{
                  cage.name}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button color="neutral-btn mr-05" (click)="skip()">Skip</ion-button>
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" (click)="confirm()" [disabled]="!transferForm.value.cageId">Save and proceed to survey</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- <ion-alert [isOpen]="isNoActiveFlockAlertOpen" header="Warning!" subHeader={{warningMessage}} [buttons]="alertButtons"
    (didDismiss)="setAlertResult($event)"></ion-alert> -->

  <ion-alert [isOpen]="isSurveyAlreadyRecordedAlertOpen" header="Warning!" subHeader={{warningMessage}}
    [buttons]="alertButtons" (didDismiss)="setAlertResult($event)"></ion-alert>

</ion-content>