.subtitle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 10px;

    .cart-logo {
        width: 23px;
    }

    .cart-text {
        font-size: 24px;
        padding-top: 8px;
        margin-top: 5px;
        padding-left: 5px;
    }
}

.form-section-cart {
    font-weight: 500;
    padding-top: 9px;
    padding-left: 7px;
    color: black;
    font-size: 18px;
}

.add-payment-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.remove-payment-btn {
    font-size: 12px;
    float: right;
    height: 30px;
    width: 40px;
    margin-top: 23px;
    margin-right: 5px;
}

.add-payment-area {
    display: flex;
    justify-content: space-between;
}

.flock-modal {
    --height: 50em;
    --width: 50em;
}

.radio-class {
    margin: 10px;
}