<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/add-health-product.png'>
          <h3 class="header-nav-products">Add Health Product</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="healthProductDetailsForm">
    <div formArrayName="healthProductDetails"
      *ngFor="let healthProductDetails of healthProductDetailsFields?.controls; let i = index">
      <div [formGroupName]="i">
        <ion-card>
          <ion-card-content>
            <div class="form-array-index">
              <h6>Health product {{i + 1}}</h6>
              <ion-button *ngIf="healthProductDetailsFields != null && healthProductDetailsFields.length > 1"
                (click)="removeHealthProductDetails(i)" class="delete-product-btn"
                color="gunung-nago-warehouse"><ion-icon name="trash"></ion-icon></ion-button>
            </div>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-toggle labelPlacement="start" class="toggle" formControlName="active" color="gunung-nago-report">
                  Active*</ion-toggle>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="name" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.name">
                    <div class="error-message"
                      *ngIf="healthProductDetails.get('name')?.hasError(error.type) && (healthProductDetails.get('name')?.dirty || healthProductDetails.get('name')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-select color="gunung-nago-primary" label="Health type" label-placement="floating" fill="outline"
                  interface="popover" required="true" placeholder="Health type" formControlName="healthType">
                  <ion-select-option *ngFor="let healthType of healthTypes" [value]="healthType">{{ healthType |
                    titlecase
                    }}</ion-select-option>
                </ion-select>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.healthType">
                    <div class="error-message"
                      *ngIf="healthProductDetails.get('healthType')?.hasError(error.type) && (healthProductDetails.get('healthType')?.dirty || healthProductDetails.get('healthType')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Units per box*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="unitsPerBox" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.unitsPerBox">
                    <div class="error-message"
                      *ngIf="healthProductDetails.get('unitsPerBox')?.hasError(error.type) && (healthProductDetails.get('unitsPerBox')?.dirty || healthProductDetails.get('unitsPerBox')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="6">
                <ion-textarea color="gunung-nago-primary" label="Description" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="description" [autoGrow]="true"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-select color="gunung-nago-primary" label="Supplier*" label-placement="floating" fill="outline"
                  interface="popover" required="true" placeholder="Supplier" formControlName="supplierId">
                  <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier.id"
                    selected="supplier.supplierId === supplierId" color="secondary">{{ supplier.name }}
                  </ion-select-option>
                </ion-select>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.supplierId">
                    <div class="error-message"
                      *ngIf="healthProductDetails.get('supplierId')?.hasError(error.type) && (healthProductDetails.get('supplierId')?.dirty || healthProductDetails.get('supplierId')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="neutral-btn mr-05" (click)="addHealthProductDetails()">Add Health Product</ion-button>
      <ion-button color="positive-btn" [disabled]="healthProductDetailsForm.invalid" (click)="save()">Save</ion-button>
    </div>
  </form>
</ion-content>