<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/add-customers.png'>
          <h3 class="header-nav-products">Add Customer</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="customerDetailsForm">
    <div formArrayName="customerDetails" *ngFor="let customerDetails of customerDetailsFields?.controls; let i = index">
      <div [formGroupName]="i">
        <ion-card>
          <ion-card-content>
            <div class="form-array-index">
              <h6>Customer {{i + 1}}</h6>
              <ion-button *ngIf="customerDetailsFields != null && customerDetailsFields.length > 1"
                (click)="removeCustomerDetails(i)" class="delete-product-btn" color="gunung-nago-warehouse"><ion-icon
                  name="trash"></ion-icon></ion-button>
            </div>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="First Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="firstName" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.firstName">
                    <div class="error-message"
                      *ngIf="customerDetails.get('firstName')?.hasError(error.type) && (customerDetails.get('firstName')?.dirty || customerDetails.get('firstName')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Last Name*" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="lastName" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.lastName">
                    <div class="error-message"
                      *ngIf="customerDetails.get('lastName')?.hasError(error.type) && (customerDetails.get('lastName')?.dirty || customerDetails.get('lastName')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Email" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="email" required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.email">
                    <div class="error-message"
                      *ngIf="customerDetails.get('email')?.hasError(error.type) && (customerDetails.get('email')?.dirty || customerDetails.get('email')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="6">
                <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="address"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number*" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumber"
                  required="true"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                    <div class="error-message"
                      *ngIf="customerDetails.get('telephoneNumber')?.hasError(error.type) && (customerDetails.get('telephoneNumber')?.dirty || customerDetails.get('telephoneNumber')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number 2" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumberTwo"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-primary" label="Telephone Number 3" label-placement="floating"
                  fill="outline" type="text" clear-input="true" formControlName="telephoneNumberThree"></ion-input>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="neutral-btn mr-05" (click)="addCustomerDetails()">Add Customer</ion-button>
      <ion-button color="positive-btn" [disabled]="customerDetailsForm.invalid" (click)="save()">Save</ion-button>
    </div>
  </form>
</ion-content>