<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/survey.png'>
          <h3 class="header-nav-products">{{ 'survey.survey-details.survey-details' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-card>
    <form [formGroup]="surveyForm">

      <ion-card-content>
        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.general' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <div class="headers-section">
              <div>
                <strong>{{ 'survey.survey-details.cage' | translate }}</strong>
              </div>
              <img class="headers" src='./assets/flaticon/cage.png'>
              <div class="headers-count">
                <strong>{{cageName}}</strong>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="headers-section">
              <div>
                <strong>{{ 'survey.survey-details.date' | translate }}</strong>
              </div>
              <img class="headers" src='./assets/flaticon/clock.png'>
              <div class="headers-count">
                <strong>{{today}}</strong>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="headers-section">
              <div>
                <strong>{{ 'survey.survey-details.chicken-age' | translate }}</strong>
              </div>
              <img class="headers" src='./assets/flaticon/age.png'>
              <div class="headers-count">
                <strong>{{flockAge}}</strong>
              </div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="headers-section">
              <div>
                <strong>{{ 'survey.survey-details.chicken-category' | translate }}</strong>
              </div>
              <img class="headers" src='./assets/flaticon/category.png'>
              <div class="headers-count">
                <strong>{{flockCategory}}</strong>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.population' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.population' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="population" readonly="true"></ion-input>
          </ion-col>
        </ion-row>

        <div class="divider-wrapper mt-1">
          <div class="flock-section">
            <img class="survey-divider-img" src='./assets/flaticon/flock.png'>
          </div>
          <div class="divider-text">
            <ion-item-divider>
              <ion-label>{{ 'survey.survey-details.morality' | translate }}</ion-label>
            </ion-item-divider>
          </div>
        </div>

        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.dead' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" formControlName="dead"
              [(ngModel)]="dead" (ngModelChange)="calculateRemaining()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.sterile' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="sterile" [(ngModel)]="sterile" (ngModelChange)="calculateRemaining()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.remaining' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" [value]="remaining"
              readonly="true"></ion-input>
          </ion-col>
        </ion-row>

        <div class="divider-wrapper mt-1">
          <div class="flock-section">
            <img class="survey-divider-img" src='./assets/flaticon/eggs.png'>
          </div>
          <div class="divider-text">
            <ion-item-divider>
              <ion-label>{{ 'survey.survey-details.production' | translate }}</ion-label>
            </ion-item-divider>
          </div>
        </div>

        <ion-item-divider>
          <ion-label>Big Eggs</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.tie' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="bigEggsTie" [(ngModel)]="bigEggsTie" (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="Tray" label-placement="floating" fill="outline" type="number"
              min="0" max="9" maxlength="1" clear-input="true" formControlName="bigEggsTray" [(ngModel)]="bigEggsTray"
              (ngModelChange)="calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.tray">
                <div class="error-message"
                  *ngIf="surveyForm.get('bigEggsTray')?.hasError(error.type) && (surveyForm.get('bigEggsTray')?.dirty || surveyForm.get('bigEggsTray')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" max="29" maxlength="2" clear-input="true"
              formControlName="bigEggsItem" [(ngModel)]="bigEggsItem"
              (ngModelChange)="validateItem($event); calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.item">
                <div class="error-message"
                  *ngIf="surveyForm.get('bigEggsItem')?.hasError(error.type) && (surveyForm.get('bigEggsItem')?.dirty || surveyForm.get('bigEggsItem')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider>
          <ion-label>Medium Eggs</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.tie' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="mediumEggsTie" [(ngModel)]="mediumEggsTie"
              (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="Tray" label-placement="floating" fill="outline" type="number"
              min="0" max="9" maxlength="2" clear-input="true" formControlName="mediumEggsTray"
              [(ngModel)]="mediumEggsTray" (ngModelChange)="validateItem($event); calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.tray">
                <div class="error-message"
                  *ngIf="surveyForm.get('mediumEggsTray')?.hasError(error.type) && (surveyForm.get('mediumEggsTray')?.dirty || surveyForm.get('mediumEggsTray')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" max="29" maxlength="1" clear-input="true"
              formControlName="mediumEggsItem" [(ngModel)]="mediumEggsItem"
              (ngModelChange)="validateItem($event); calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.item">
                <div class="error-message"
                  *ngIf="surveyForm.get('mediumEggsItem')?.hasError(error.type) && (surveyForm.get('mediumEggsItem')?.dirty || surveyForm.get('mediumEggsItem')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider>
          <ion-label>Small Eggs</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.tie' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="smallEggsTie" [(ngModel)]="smallEggsTie"
              (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="Tray" label-placement="floating" fill="outline" type="number"
              min="0" max="9" maxlength="1" clear-input="true" formControlName="smallEggsTray"
              [(ngModel)]="smallEggsTray" (ngModelChange)="calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.tray">
                <div class="error-message"
                  *ngIf="surveyForm.get('smallEggsIray')?.hasError(error.type) && (surveyForm.get('smallEggsIray')?.dirty || surveyForm.get('smallEggsIray')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" max="29" maxlength="2" clear-input="true"
              formControlName="smallEggsItem" [(ngModel)]="smallEggsItem"
              (ngModelChange)="validateItem($event); calculateTotalItem()"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.item">
                <div class="error-message"
                  *ngIf="surveyForm.get('smallEggsItem')?.hasError(error.type) && (surveyForm.get('smallEggsItem')?.dirty || surveyForm.get('smallEggsItem')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider>
          <ion-label>Bad Eggs</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.broken' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="broken" [(ngModel)]="broken" (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.total-item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" [value]="totalItem"
              readonly="true"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.per-hd' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              [value]="(totalItem / remaining) * 100" readonly="true"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-survey" label="{{ 'survey.survey-details.up-down' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="upDownProduction"></ion-input>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <!-- feed -->
          <div class="ion-padding">
            <div class="divider-wrapper">
              <div class="flock-section">
                <img class="survey-divider-img" src='./assets/flaticon/feed.png'>
              </div>
              <div class="divider-text">
                <ion-item-divider>
                  <ion-label>Feed</ion-label>
                </ion-item-divider>
              </div>
            </div>

            <div *ngIf="feedLines.length > 0">
              <div *ngFor="let feed of feedLines; let i=index;">
                <div class="em-title" [style.color]="i === 0 ? 'black' : 'grey'">Allocation Date: {{feed.createdDate |
                  date:'dd-MM-yyyy'}}
                </div>
                <ion-row>
                  <ion-col size-xs="12" size-md="4">
                    <div class="em-body-title">Bags Allocated: {{feed.bagsAllocated}}</div>
                    <div class="em-body-title">Bags Left: {{feed.bagsLeft}}</div>
                    <div>
                      <ion-input color="gunung-nago-survey" label="Enter bags eaten" label-placement="floating"
                        fill="outline" type="number" min="0" clear-input="true" [max]="feed.bagsLeft"
                        [(ngModel)]="feed.bagsEaten" name="bagsEaten" [ngModelOptions]="{standalone: true}"></ion-input>
                    </div>
                  </ion-col>
                </ion-row>
                <br>
              </div>
            </div>
          </div>

        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <!-- health -->
          <div class="ion-padding">
            <div class="divider-wrapper">
              <div class="flock-section">
                <img class="survey-divider-img" src='./assets/flaticon/health-products.png'>
              </div>
              <div class="divider-text">
                <ion-item-divider>
                  <ion-label>{{ 'survey.survey-details.vaccine-medication' | translate }}</ion-label>
                </ion-item-divider>
              </div>
            </div>

            <mat-form-field class="autocomplete-full-width" appearance="outline">
              <input matInput placeholder="Search health product..." [(ngModel)]="selectedHealthProduct"
                [matAutocomplete]="auto" [formControl]="searchHealthProductCtrl" placeholder="Seach health product">
              <button *ngIf="selectedHealthProduct" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearSelection()">
                <ion-icon name="close-outline"></ion-icon>
              </button>
              <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onHealthProductSelected()"
                [displayWith]="displayWith">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let healthProduct of filteredHealthProducts" [value]="healthProduct">
                    <span>{{healthProduct.name}}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>

            <div *ngIf="selectedHealthProducts.length > 0">
              <div *ngFor="let selectedHealthProduct of selectedHealthProducts; let i=index;">
                <ion-chip color="gunung-nago-report">
                  <ion-label>{{selectedHealthProduct.healthProductName}}</ion-label>
                  <ion-icon name="close"
                    (click)="removeHealthProduct(selectedHealthProduct.healthProductId)"></ion-icon>
                </ion-chip>

                <div *ngFor="let healthProductStock of selectedHealthProduct.healthSurveyStockDtos; let j = index;">
                  <div class="em-title" [style.color]="j === 0 ? 'black' : 'grey'">{{j === 0 ? 'New Stock' :
                    'Old Stock'}}
                  </div>
                  <ion-row>
                    <ion-col size-xs="12" size-md="3">
                      <div class="em-body-title">Total Units: {{healthProductStock.unitsTotal}}</div>
                      <div></div>
                      <div>
                        <ion-input color="gunung-nago-survey" label="Enter units used" label-placement="floating"
                          fill="outline" type="number" min="0" clear-input="true" [max]="healthProductStock.unitsTotal"
                          [(ngModel)]="healthProductStock.unitsUsed" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="changeUnitsUsed($event, healthProductStock.unitsTotal, i, j)"
                          name="unitsUsed"></ion-input>
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <!-- manure -->
          <div class="ion-padding">
            <div class="divider-wrapper">
              <div class="flock-section">
                <img class="survey-divider-img" src='./assets/flaticon/manure-bag.png'>
              </div>
              <div class="divider-text">
                <ion-item-divider>
                  <ion-label>Manure</ion-label>
                </ion-item-divider>
              </div>
            </div>

            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-survey" label="Bags collected" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true" formControlName="manureBags"
                  [(ngModel)]="manureBags"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-survey" label="Weight" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true" formControlName="manureWeight"
                  [(ngModel)]="manureWeight"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>

        <ion-col size-xs="12" size-md="6">
          <!-- weight -->
          <div class="ion-padding">
            <div class="divider-wrapper">
              <div class="flock-section">
                <img class="survey-divider-img" src='./assets/flaticon/quantity.png'>
              </div>
              <div class="divider-text">
                <ion-item-divider>
                  <ion-label>Chicken Weight</ion-label>
                </ion-item-divider>
              </div>
            </div>

            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-survey" label="Amount of chicken weighted" label-placement="floating"
                  fill="outline" type="number" min="0" clear-input="true" formControlName="amountOfChickenWeighted"
                  [(ngModel)]="amountOfChickenWeighted"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-survey" label="Total weighted" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true" formControlName="totalWeight"
                  [(ngModel)]="totalWeight"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <ion-input color="gunung-nago-survey" label="Average weight" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true"
                  [value]="(totalWeight / amountOfChickenWeighted) | number :'1.2-2'"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <!-- comment -->
      <div class="ion-padding">
        <ion-item-divider>
          <ion-label>Comment</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="12">
            <ion-textarea color="gunung-nago-survey" label="Comment" labelPlacement="floating" fill="outline"
              [autoGrow]="true" formControlName="comment"></ion-textarea>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </ion-card>

  <div class="btn-container">
    <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
    <ion-button color="positive-btn" [disabled]="surveyForm.invalid" (click)="save()">Save</ion-button>
  </div>
</ion-content>