.survey-general-header {
    text-align: center;
    font-size: 18px;
    color: black;
}

#container {
    margin: auto;
    width: 80%;
}

::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: none;
}

.em-body-title {
    font-size: 15px;
    color: black;
    padding-bottom: 8px;
}

.em-title {
    font-size: 15px;
    font-weight: 500;
}

ion-chip {
    border-radius: 4px;
    // background-color: var(--ion-color-gunung-nago-health);
    background-color: #831882;
    color: white;
    font-size: 15px;
}


::ng-deep .has-focus.sc-ion-textarea-md-h textarea.sc-ion-textarea-md {
    caret-color: var(--ion-color-gunung-nago-survey) !important;
}

.test {
    --highlight-color-focused: blue;
}