<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/header-icon/survey.png'>
          <h3 class="header-nav-products">{{ 'survey.survey-details.survey-details' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="stockForm">
    <ion-card>
      <ion-card-content>
        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.general' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <div class="survey-general-header">
              <ion-icon name="grid-outline"></ion-icon>
              <div>{{ 'survey.survey-details.cage' | translate }}: A</div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="survey-general-header">
              <ion-icon name="time-outline"></ion-icon>
              <div>{{ 'survey.survey-details.date' | translate }}: {{today}}</div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="survey-general-header">
              <ion-icon name="pulse-outline"></ion-icon>
              <div>{{ 'survey.survey-details.chicken-age' | translate }}: 10</div>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <div class="survey-general-header">
              <ion-icon name="albums-outline"></ion-icon>
              <div>{{ 'survey.survey-details.chicken-category' | translate }}: NORMAL</div>
            </div>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.population' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.population' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="population" readonly="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.morality' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.dead' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" formControlName="dead"
              [(ngModel)]="dead" (ngModelChange)="calculateRemaining()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.sterile' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="sterile" [(ngModel)]="sterile" (ngModelChange)="calculateRemaining()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.remaining' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              [value]="remaining"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.production' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.tie' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" formControlName="tie"
              [(ngModel)]="tie" (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" formControlName="item"
              [(ngModel)]="item" (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.broken' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="broken" [(ngModel)]="broken" (ngModelChange)="calculateTotalItem()"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.total-item' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true" [value]="totalItem"
              readonly="true"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.per-hd' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              [value]="(totalItem / remaining) * 100" readonly="true"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.up-down' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="upDownProduction"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.vaccine-medication' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.vaccine-medication' | translate }}"
              label-placement="floating" fill="outline" type="text" clear-input="true"
              formControlName="vaccineMedication"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.usage' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.standard-feed' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="standardFeed"></ion-input>
          </ion-col>
          <ion-col size-xs="12" size-md="3">
            <ion-input color="gunung-nago-primary" label="{{ 'survey.survey-details.given-feed' | translate }}"
              label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
              formControlName="givenFeed"></ion-input>
          </ion-col>
        </ion-row>

        <ion-item-divider>
          <ion-label>{{ 'survey.survey-details.comments' | translate }}</ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-textarea color="gunung-nago-primary" label="{{ 'survey.survey-details.comments' | translate }}"
            [autoGrow]="true" label-placement="floating" fill="outline" clear-input="true"
            formControlName="comments"></ion-textarea>
        </ion-row>
      </ion-card-content>

      <div class="btn-container">
        <ion-button class="cancel-btn">Cancel</ion-button>
        <ion-button color="gunung-nago-primary">Save</ion-button>
      </div>

    </ion-card>
  </form>
</ion-content>