.survey-general-header {
    text-align: center;
    font-size: 18px;
    color: black;
}

#container {
    margin: auto;
    width: 80%;
}

::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: none;
}