.survey-general-header {
    text-align: center;
    font-size: 18px;
    color: black;
}

#container {
    margin: auto;
    width: 80%;
}

::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: none;
}

.em-body-title {
    font-size: 15px;
    color: black;
    padding-bottom: 8px;
}

.em-title {
    font-size: 15px;
    font-weight: 500;
    margin-left: 6px;
}

ion-chip {
    border-radius: 4px;
    background-color: var(--ion-color-gunung-nago-report);
    color: white;
    font-size: 15px;
}


::ng-deep .has-focus.sc-ion-textarea-md-h textarea.sc-ion-textarea-md {
    caret-color: var(--ion-color-gunung-nago-survey) !important;
}

.test {
    --highlight-color-focused: blue;
}

.survey-divider-img {
    width: 3em;
}

.headers {
    width: 3em;
}

.headers-section {
    text-align: center;
    color: black;
}

.headers-count {
    font-size: 18px;
}

.remove-payment-btn {
    font-size: 12px;
    float: right;
    height: 30px;
    width: 40px;
    margin-top: 23px;
    margin-right: 5px;
}

.button-section {
    margin: 0.4em 0 0 1em;
}

.gray-divider {
    border-color: #c0bebe;
}

.manure-bag-img {
    width: 4em;
}