<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/feed.png'>
          <h3 class="header-nav-products">Feeds</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="btn-container">
    <ion-button class="mr-05" color="neutral-btn" routerLink="/feed/feed-allocation">Feed Allocation</ion-button>
    <ion-button class="mr-05" color="neutral-btn" routerLink="/feed/feed-stock">Feed Stock</ion-button>
    <ion-button color="neutral-btn" routerLink="/feed/feed-details"><ion-icon name="add"></ion-icon></ion-button>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-searchbar placeholder="Search by feed name..." type="text" #feedName
            (ionInput)="searchByFeedName(feedName.value)"></ion-searchbar>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="filters">
            <div>

            </div>
            <div>
              <ion-button class="reset" (click)="reset()">Reset Filters</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-md="3">
          <ion-select color="gunung-nago-primary" label="Feed Category" label-placement="floating" fill="outline"
            interface="popover" [(ngModel)]="feedCategory" (ionChange)="ionChangeFeedCategory($event)">
            <ion-select-option value='' selected="true">All</ion-select-option>
            <ion-select-option *ngFor="let feedCategory of feedCategories" [value]="feedCategory">{{ feedCategory
              }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true" [dataSource]="feeds">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="feedCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="feedCategory"> Feed category </th>
          <td mat-cell *matCellDef="let element"> {{element.feedCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="recommendedWeight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="recommendedWeight"> Weight (KG) </th>
          <td mat-cell *matCellDef="let element"> {{element.recommendedWeight}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> Quantity in Stock (Bag) </th>
          <td mat-cell *matCellDef="let element"> {{element.bags}} </td>
        </ng-container>

        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="supplier"> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-icon color="positive-btn" class="table-stock-icon" [src]="stock"
                (click)="routeToStockDetails(element)"></ion-icon>

              <ion-icon class="table-edit-icon ml-05" color="neutral-btn" (click)="openModal(element)"
                name="create"></ion-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more feeds...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="feed-modal" backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/edit.png'>
            <h3 class="modal-header-text">Edit Feed</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="feedEditForm">
          <ion-row>
            <ion-col size-xs="12" size-md="12">
              <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline" type="text"
                clear-input="true" formControlName="name" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.name">
                  <div class="error-message"
                    *ngIf="feedEditForm.get('name')?.hasError(error.type) && (feedEditForm.get('name')?.dirty || feedEditForm.get('name')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-select color="gunung-nago-primary" label="Category" label-placement="floating" fill="outline"
                interface="popover" required="true" formControlName="feedCategory">
                <ion-select-option *ngFor="let feedCategory of feedCategories" [value]="feedCategory">{{ feedCategory
                  }}</ion-select-option>
              </ion-select>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.category">
                  <div class="error-message"
                    *ngIf="feedEditForm.get('feedCategory')?.hasError(error.type) && (feedEditForm.get('feedCategory')?.dirty || feedEditForm.get('feedCategory')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Recommended weight" label-placement="floating"
                fill="outline" type="number" clear-input="true" formControlName="recommendedWeight"
                required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.recommendedWeight">
                  <div class="error-message"
                    *ngIf="feedEditForm.get('recommendedWeight')?.hasError(error.type) && (feedEditForm.get('recommendedWeight')?.dirty || feedEditForm.get('recommendedWeight')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="12">
              <ion-select color="gunung-nago-primary" label="Supplier*" label-placement="floating" fill="outline"
                interface="popover" required="true" formControlName="supplierId">
                <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier.id"
                  selected="supplier.supplierId === supplierId" color="secondary">{{ supplier.name }}
                </ion-select-option>
              </ion-select>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.supplierId">
                  <div class="error-message"
                    *ngIf="feedEditForm.get('supplierId')?.hasError(error.type) && (feedEditForm.get('supplierId')?.dirty || feedEditForm.get('supplierId')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>