<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/feed-allocation.png'>
          <h3 class="header-nav-products">Feed Allocation</h3>
        </div>
        <div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="container">
    <ion-row>
      <ion-col size-xs="12" size-md="3" *ngFor="let feed of feedsToBeAllocated">
        <ion-card (click)="changedSelectedFeedStock(feed)"
          [ngClass]="selectedFeedStock.feedStockId === feed.feedStockId? 'selected' : null">
          <ion-card-content>
            <div class="feed-section">
              <div>
                <strong>{{feed.feedCategory}}</strong><br>
                <strong>{{feed.name}}</strong>
              </div>
              <img class="feed-img" src='./assets/flaticon/feed.png'>
              <div class="feed-count">
                <strong>{{feed.bags}}</strong>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div class="container">
    <ion-item-divider class="norm" *ngIf="cagesNorm.length > 0">
      <ion-label color="norm">NORMAL</ion-label>
    </ion-item-divider>
    <ion-row *ngIf="cagesNorm.length > 0">
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesNorm">
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        <ion-card>
          <ion-card-header color="norm">
            {{cage.cageName}}
          </ion-card-header>
          <ion-card-content class="home-card-content">
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags left" label-placement="floating"
              fill="outline" type="number" [(ngModel)]="cage.bagsLeft" [readonly]="true"></ion-input>
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags to be allocated" label-placement="floating"
              fill="outline" type="number" min="0" clear-input="true" [(ngModel)]="cage.bagsAllocated"
              (ngModelChange)="calculateTotalBagsAllocatedForNorm()"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider class="dara" *ngIf="cagesDara.length > 0">
      <ion-label color="dara">DARA</ion-label>
    </ion-item-divider>
    <ion-row *ngIf="cagesDara.length > 0">
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDara">
        <ion-card>
          <ion-card-header color="dara">
            {{cage.cageName}}
          </ion-card-header>
          <ion-card-content class="home-card-content">
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags left" label-placement="floating"
              fill="outline" type="number" [(ngModel)]="cage.bagsLeft" [readonly]="true"></ion-input>
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags to be allocated" label-placement="floating"
              fill="outline" type="number" min="0" clear-input="true" [(ngModel)]="cage.bagsAllocated"
              (ngModelChange)="calculateTotalBagsAllocatedForDara()"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-divider class="doc" *ngIf="cagesDoc.length > 0">
      <ion-label color="doc">DOC</ion-label>
    </ion-item-divider>
    <ion-row *ngIf="cagesDoc.length > 0">
      <ion-col size-xs="6" size-md="3" class="mt-1e" *ngFor="let cage of cagesDoc">
        <ion-card>
          <ion-card-header color="doc">
            {{cage.cageName}}
          </ion-card-header>
          <ion-card-content class="home-card-content">
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags left" label-placement="floating"
              fill="outline" type="number" [(ngModel)]="cage.bagsLeft" [readonly]="true"></ion-input>
            <ion-input class="mt-1" color="gunung-nago-survey" label="Bags to be allocated" label-placement="floating"
              fill="outline" type="number" min="0" clear-input="true" [(ngModel)]="cage.bagsAllocated"
              (ngModelChange)="calculateTotalBagsAllocatedForDoc()"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="btn-container">
    <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
    <ion-button *ngIf="selectedFeedStock?.feedCategory === 'NORM'" color="positive-btn"
      [disabled]="selectedFeedStock.bags - totalBagsAllocatedNorm < 0" (click)="save()">Save</ion-button>
    <ion-button *ngIf="selectedFeedStock?.feedCategory === 'DARA'" color="positive-btn"
      [disabled]="selectedFeedStock.bags - totalBagsAllocatedDara < 0" (click)="save()">Save</ion-button>
    <ion-button *ngIf="selectedFeedStock?.feedCategory === 'DOC'" color="positive-btn"
      [disabled]="selectedFeedStock.bags - totalBagsAllocatedDoc < 0" (click)="save()">Save</ion-button>
  </div>

  <ion-alert [isOpen]="isChangeInFeedStock" header="Warning!" subHeader={{warningMessage}}
    [buttons]="alertButtons" (didDismiss)="setAlertResult($event)"></ion-alert>
</ion-content>