<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/supplier.png'>
          <h3 class="header-nav-products">Supplier List</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="btn-container">
    <ion-button color="neutral-btn" routerLink="/supplier/supplier-details"><ion-icon
        name="add"></ion-icon></ion-button>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-searchbar placeholder="Search by supplier name..." type="text" #supplierName
            (ionInput)="searchBySupplierName(supplierName.value)"></ion-searchbar>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="filters">
            <div>

            </div>
            <div>
              <ion-button class="reset" (click)="reset()">Reset Filters</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true" [dataSource]="suppliers">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="telephoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="telephoneNumber"> Telephone Number </th>
          <td mat-cell *matCellDef="let element">
            <div class="telephone-column">
              <strong>Number 1:</strong>{{element.telephoneNumber}}
              <br>
              <strong>Number 2:</strong>{{element.telephoneNumberTwo}}
              <br>
              <strong>Number 3:</strong>{{element.telephoneNumberThree}}
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-icon class="table-edit-icon" color="neutral-btn" (click)="openModal(element)" name="create"></ion-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more suppliers...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="supplier-modal"
    backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/edit.png'>
            <h3 class="modal-header-text">Edit Supplier</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="supplierEditForm">
          <ion-row>
            <ion-col size-xs="12" size-md="12">
              <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline" type="text"
                clear-input="true" formControlName="name" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.name">
                  <div class="error-message"
                    *ngIf="supplierEditForm.get('name')?.hasError(error.type) && (supplierEditForm.get('name')?.dirty || supplierEditForm.get('name')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="12">
              <ion-input color="gunung-nago-primary" label="Email*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="email" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="error-message"
                    *ngIf="supplierEditForm.get('email')?.hasError(error.type) && (supplierEditForm.get('email')?.dirty || supplierEditForm.get('email')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="12">
              <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="address"></ion-input>
            </ion-col>
            <ion-col size-xs="12" size-md="12">
              <ion-input color="gunung-nago-primary" label="Telephone Number*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="telephoneNumber" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                  <div class="error-message"
                    *ngIf="supplierEditForm.get('telephoneNumber')?.hasError(error.type) && (supplierEditForm.get('telephoneNumber')?.dirty || supplierEditForm.get('telephoneNumber')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Telephone Number 2" label-placement="floating"
                fill="outline" type="text" clear-input="true" formControlName="telephoneNumberTwo"></ion-input>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Telephone Number 3" label-placement="floating"
                fill="outline" type="text" clear-input="true" formControlName="telephoneNumberThree"></ion-input>
            </ion-col>
          </ion-row>
        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>