<ion-split-pane when="(min-width: 10000px)" *ngIf="true" contentId="menu-content">
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button autoHide='false'></ion-menu-button>
        </ion-buttons>
        <div class="header-section">
          <img class="menu-logo" routerLink="/home" src='./assets/icon/chicken/icons8-chicken-64.png' width="22px">
          <h5 class="side-nav-home" routerLink="/home">C.V-GN</h5>
          <a *ngIf="false" routerLink="login">Login</a>
          <a *ngIf="true" routerLink="login">Logout</a>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item routerLink="/home" routerDirection="forward">
        <ion-icon name="home" color="dark"></ion-icon>{{ 'activity.home' | translate }}
      </ion-item>
      <ion-item routerLink="/report/daily-report" routerDirection="forward">
        <ion-icon name="newspaper" color="dark"></ion-icon>{{ 'activity.daily-report' | translate }}
      </ion-item>
      <ion-item routerLink="/cage/cage-survey-list" routerDirection="forward">
        <ion-icon name="pencil" color="dark"></ion-icon><span>{{ 'activity.survey' | translate }}</span>
      </ion-item>
      <ion-item routerLink="/sales-invoice/sales-invoice-list" routerDirection="forward">
        <ion-icon [src]="salesInvoice" class="font-size-60"></ion-icon><span>Sales Invoice List</span>
      </ion-item>
      <ion-item routerLink="/purchase-invoice/purchase-invoice-list" routerDirection="forward">
        <ion-icon name="library" color="dark"></ion-icon><span>Purchase Invoice List</span>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="cage" class="font-size-60"></ion-icon><span>{{ 'activity.cage' | translate }}</span>
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/cage/cage-list">
              <ion-icon name="list" color="dark"></ion-icon>Cage List
            </ion-item>
            <ion-item routerLink="/cage/cage-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Cage
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-item routerLink="/point-of-sale" routerDirection="forward">
        <ion-icon [src]="pos" class="font-size-60"></ion-icon><span>Point of Sale</span>
      </ion-item>
      <ion-item routerLink="/stock-update" routerDirection="forward">
        <ion-icon [src]="stock" class="font-size-60"></ion-icon><span>Stock Update</span>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon name="medkit" color="dark"></ion-icon>Health
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/health/health-list">
              <ion-icon name="list" color="dark"></ion-icon>Health Product List
            </ion-item>
            <ion-item routerLink="/health/health-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Health Product
            </ion-item>
            <ion-item routerLink="/health/health-stock">
              <ion-icon [src]="stock" class="font-size-60"></ion-icon>Update Health Stock
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="feed" class="font-size-60"></ion-icon>Feed
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/feed/feed-list">
              <ion-icon name="list" color="dark"></ion-icon>Feed List
            </ion-item>
            <ion-item routerLink="/feed/feed-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Feed
            </ion-item>
            <ion-item routerLink="/feed/feed-stock">
              <ion-icon [src]="stock" class="font-size-60"></ion-icon>Update Feed Stock
            </ion-item>
            <ion-item routerLink="/feed/feed-allocation">
              <ion-icon name="expand" color="dark"></ion-icon>Feed Allocation
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="flock" class="font-size-60"></ion-icon>Flock
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/flock/flock-list">
              <ion-icon name="list" color="dark"></ion-icon>Flock List
            </ion-item>
            <ion-item routerLink="/flock/flock-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Flock
            </ion-item>
            <ion-item routerLink="/flock/flock-sale-details">
              <ion-icon name="pricetag" color="dark"></ion-icon><span>Flock Sale</span>
            </ion-item>
            <ion-item routerLink="/flock/flock-stock">
              <ion-icon [src]="stock" class="font-size-60"></ion-icon>Update Flock Stock
            </ion-item>
            <ion-item routerLink="/flock/flock-transfer">
              <ion-icon [src]="transfer" class="font-size-60"></ion-icon>Flock Transfer
            </ion-item>
            <ion-item routerLink="/flock/flock-cage-category-transfer">
              <ion-icon [src]="transfer" class="font-size-60"></ion-icon>Flock Cage Category Transfer
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="egg" class="font-size-60"></ion-icon>Egg
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/egg/egg-sale-details" routerDirection="forward">
              <ion-icon name="pricetag" color="dark"></ion-icon><span>Egg Sale</span>
            </ion-item>
            <ion-item routerLink="/egg/egg-stock">
              <ion-icon [src]="stock" class="font-size-60"></ion-icon>Egg Stock
            </ion-item>
            <ion-item routerLink="/egg/egg-transfer">
              <ion-icon [src]="transfer" class="font-size-60"></ion-icon>Egg Transfer
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="manure" class="font-size-60"></ion-icon>Manure
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/manure/manure-sale-details" routerDirection="forward">
              <ion-icon name="pricetag" color="dark"></ion-icon><span>Manure Sale</span>
            </ion-item>
            <ion-item routerLink="/manure/manure-stock">
              <ion-icon [src]="stock" class="font-size-60"></ion-icon>Update Manure Stock
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="supplier" class="font-size-60"></ion-icon>Supplier
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/supplier/supplier-list">
              <ion-icon name="list" color="dark"></ion-icon>Supplier List
            </ion-item>
            <ion-item routerLink="/supplier/supplier-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Supplier
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon [src]="customer" class="font-size-60"></ion-icon>Customer
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/customer/customer-list">
              <ion-icon name="list" color="dark"></ion-icon>Customer List
            </ion-item>
            <ion-item routerLink="/customer/customer-details">
              <ion-icon name="add" color="dark"></ion-icon>Add Customer
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-icon name="people" color="dark"></ion-icon>User
          </ion-item>
          <div class="accordion-sub" slot="content">
            <ion-item routerLink="/user/user-list">
              <ion-icon name="list" color="dark"></ion-icon>User List
            </ion-item>
            <ion-item routerLink="/user/user-details">
              <ion-icon name="add" color="dark"></ion-icon>Add User
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>