<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/return-goods.png'>
          <h3 class="header-nav-products">Return Invoice</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-row *ngIf="salesInvoiceDetailsFrontDtoForSalesInvoice?.customerFirstName != 'anonymous'">
    <ion-col size-xs="12" size-md="6" size-lg="6" size-xl="6">
      <ion-card *ngIf="returnFormGroup" [formGroup]="returnFormGroup">
        <ion-card-content>
          <ion-item-divider>
            <ion-label>Customer Details</ion-label>
          </ion-item-divider>
          <div>
            <ion-row>
              <ion-col>
              </ion-col>
              <span *ngIf="amountDue && amountDue > 0" class="ion-text-right red amount-due-customer-sale mb-1"
                (click)="routeToSalesInvoiceCustomerCreditList()">
                <strong>Total Credit Amount: Rp {{amountDue}}</strong>
              </span>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-md="6" size-lg="6" size-xl="6">
                <ion-input color="gunung-nago-primary" label="First Name" label-placement="floating" fill="outline"
                  class="customer-input" formControlName="customerFirstName" type="text" readonly></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="6" size-xl="6">
                <ion-input color="gunung-nago-primary" label="Last Name" label-placement="floating" fill="outline"
                  class="customer-input" formControlName="customerLastName" type="text" readonly></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="6" size-lg="6" size-xl="6">
                <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                  class="customer-input" formControlName="customerAddress" type="text" readonly></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="6" size-lg="6" size-xl="6">
                <ion-input color="gunung-nago-primary" label="Telephone Number" label-placement="floating"
                  fill="outline" class="customer-input" formControlName="customerTelephoneNumber" type="text"
                  readonly></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <div class="divider-wrapper">
    <div>
      <img class="divider-stock-img" src='./assets/flaticon/return-box.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider class="stock-divider">
        <ion-label>Return Goods</ion-label>
      </ion-item-divider>
    </div>
  </div>
  <div class="mat-elevation-z8 table-responsive" *ngIf="returnFormGroup" [formGroup]="returnFormGroup">

    <table mat-table [dataSource]="salesDetailsTable" class="return-table" formArrayName="formDetail">

      <ng-container matColumnDef="no.">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <span>{{i + 1}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.salesInvoiceType | titlecase}}
            <span *ngIf="element.eggCategoryName"> - <strong>{{element.eggCategoryName}}</strong> </span>
            <span *ngIf="element.salesInvoiceType === 'MANURE'"> - {{element.manureWeightPerBag}} (KG)</span>
            <span *ngIf="element.salesInvoiceType === 'FEED'"> - <strong>{{element.feedName}}</strong> -
              {{element.feedWeightPerBag}} (KG)</span>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity returned">
        <th mat-header-cell *matHeaderCellDef> Previous Quantity Returned </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.quantityReturned}}</span><span *ngIf="element.salesInvoiceType === 'EGG'"> - Piece</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity type">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element">
          <span
            *ngIf="element.salesInvoiceType === 'EGG' && element.eggQuantityType === 'TIE'">{{element.originalQuantity}}
            - <strong>{{element.eggQuantityType}}</strong> <br><span class="red">({{element.originalQuantity *
              300}} - <strong>Piece)</strong></span></span>
          <span
            *ngIf="element.salesInvoiceType === 'EGG' && element.eggQuantityType === 'TRAY'">{{element.originalQuantity}}
            - <strong>{{element.eggQuantityType}}</strong> <br><span class="red">({{element.originalQuantity *
              30}} - <strong>Piece)</strong></span></span>
          <span
            *ngIf="element.salesInvoiceType === 'EGG' && element.eggQuantityType === 'PIECE'">{{element.originalQuantity}}
            - <strong>{{element.eggQuantityType}}</strong></span>
          <span *ngIf="element.salesInvoiceType !== 'EGG'">{{element.originalQuantity}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity to return">
        <th mat-header-cell *matHeaderCellDef> Quantity Returned <span class="red">(Piece)</span></th>
        <td mat-cell *matCellDef="let element; let i =index;" formGroupName={{i}}>
          <span><ion-input color="gunung-nago-primary" clear-input="true" required="true" formControlName="quantity"
              (input)="onQuantityChange($event, element, i)" min="1"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.maxQuantity">
                <div class="error-message" *ngIf="!returnFormGroupDetail.at(i).get('quantityAllowedForReturn')?.value">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="original price">
        <th mat-header-cell *matHeaderCellDef> Original Unit Price </th>
        <td mat-cell *matCellDef="let element; let i =index;" formGroupName={{i}}>
          <span>{{returnFormGroupDetail.at(i).get('price')?.value | number : '1.2-2'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> Discount </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.discount}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="unit sold at">
        <th mat-header-cell *matHeaderCellDef> Unit Sold At </th>
        <td mat-cell *matCellDef="let element; let i =index;" formGroupName={{i}}>
          <span>{{returnFormGroupDetail.at(i).get('unitSoldAt')?.value | number : '1.2-2'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="new price">
        <th mat-header-cell *matHeaderCellDef> Returned Unit Price </th>
        <td mat-cell *matCellDef="let element; let i=index;" formGroupName={{i}}>
          <span>{{returnFormGroupDetail.at(i).get('newPrice')?.value | number : '1.2-2'}}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element;let i=index;">
          <span>{{returnFormGroupDetail.at(i).get('quantity')?.value *
            returnFormGroupDetail.at(i).get('newPrice')?.value | number : '1.2-2'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; let i =index;" formGroupName={{i}}>
          <tr *ngIf="element.salesInvoiceType === 'EGG' && element.eggType != 'BAD'">
            <ion-toggle labelPlacement="start" class="toggle" formControlName="transferToBad"
              (ionChange)="transferToBad($event, i)" color="gunung-nago-report">Transfer To Bad
            </ion-toggle>
          </tr>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsReturn"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsReturn;"></tr>
    </table>


  </div>

  <div class="btn-container">
    <ion-button color="positive-btn" [disabled]="!quantityAllowed" (click)="openModal()">Save</ion-button>
  </div>

  <div class="ion-text-left existing-invoices" *ngIf="returnInvoiceDetails.length > 0">
    <ion-toggle labelPlacement="start" class="toggle" [(ngModel)]="showReturnInvoices" color="gunung-nago-report">Show
      Previous Return Invoices
    </ion-toggle>
  </div>

  <ion-row *ngIf="showReturnInvoices">
    <ion-col size-lg="12" size-md="" size-xs="12">
      <div class="divider-wrapper">
        <div>
          <img class="divider-stock-img" src='./assets/flaticon/return-invoice.png'>
        </div>
        <div class="divider-text">
          <ion-item-divider class="stock-divider">
            <ion-label>Previous Return Invoices</ion-label>
          </ion-item-divider>
        </div>
      </div>
    </ion-col>

    <ion-col size-lg="6" size-md="6" size-xs="12" *ngFor="let returnInvoiceData of returnInvoiceDetails">
      <ion-card class="invoice">
        <ion-card-content>
          <div>

            <ion-row>

              <ion-col size-lg="12" size-md="12" size-xs="12">
                <div class="invoice-margin">
                  <div>
                    <span class="main"><strong>Return Invoice No: {{returnInvoiceData?.returnNumber}}</strong></span>
                    <div class="sub"><strong>Date Issued:</strong> </div>
                    <div class="sub">{{returnInvoiceData?.createdDate | date:'EEEE, MMMM d, y HH:mm'}}
                    </div>
                  </div>

                  <div class="invoice-subtitle">
                    <div *ngIf="salesInvoiceDetailsForReturnDto?.customerFirstName != 'anonymous'">
                      <div class="sub"><strong>Invoice To:</strong></div>
                      <span class="sub"><strong>Name:
                        </strong> {{salesInvoiceDetailsForReturnDto?.customerFirstName}}
                        {{salesInvoiceDetailsForReturnDto?.customerLastName}}</span>
                      <div class="sub">
                        <strong>Address:</strong> {{salesInvoiceDetailsForReturnDto?.customerAddress}}
                      </div>
                      <div class="sub"><strong>Telephone
                          Number:</strong> {{salesInvoiceDetailsForReturnDto?.customerTelephoneNumber}}</div>
                    </div>
                    <div>
                      <div *ngIf="salesInvoiceDetailsForReturnDto?.salesPerson != null" class="salesperson">
                        <div class="sub"><strong>Salesperson:</strong> {{salesInvoiceDetailsForReturnDto?.salesPerson}}
                        </div>
                      </div>
                      <div *ngIf="salesInvoiceDetailsForReturnDto?.driverFirstName != null">
                        <div class="sub"><strong>Driver:</strong> {{salesInvoiceDetailsForReturnDto?.driverFirstName}}
                          {{salesInvoiceDetailsForReturnDto?.driverLastName}}</div>
                      </div>
                    </div>
                  </div>

                  <table class="invoice-table">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let invoiceDetail of returnInvoiceData?.returnInvoiceLineDtos let i = index">
                      <tr *ngIf="invoiceDetail.returnInvoiceType === 'MANURE'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FERTILIZER</td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail.manureWeightPerBag}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail?.totalPrice | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr *ngIf="invoiceDetail.returnInvoiceType === 'EGG'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">EGG - <strong>{{invoiceDetail?.eggCategory | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>PIECE</strong></td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail?.totalPrice | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr *ngIf="invoiceDetail.returnInvoiceType === 'FLOCK'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">CHICKEN - <strong>{{invoiceDetail.flockType | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}}</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail?.totalPrice | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr *ngIf="invoiceDetail.returnInvoiceType === 'FEED'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FEED - <strong>{{invoiceDetail.feedName | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail.feedWeightPerBag}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{(invoiceDetail.quantity ? invoiceDetail.quantity : 0) *
                          (invoiceDetail.price ? invoiceDetail.price : 0) | number : '1.2-2'}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="invoice-footer">
                    <div>
                    </div>
                    <div>
                      <div class="invoice-date-title">
                        <table class="summary-table">
                          <tbody>
                            <tr>
                              <th id="total" colspan="1">SubTotal :</th>
                              <td>Rp {{returnInvoiceData?.totalPrice | number :'1.2-2'}}</td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Discount :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Tax :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Total :</th>
                              <td>Rp {{returnInvoiceData?.totalPrice | number :'1.2-2'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>


            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="divider-wrapper">
    <div>
      <img class="divider-stock-img" src='./assets/flaticon/file.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider class="stock-divider">
        <ion-label>Preview Return Invoice</ion-label>
      </ion-item-divider>
    </div>
  </div>
  <ion-row>
    <ion-col size-lg="6" size-md="6" size-xs="12">
      <ion-card class="invoice">
        <ion-card-content>
          <div>
            <ion-item-divider class="doc">
              <ion-col size-lg="6" size-md="6" size-xs="12">
                <div class="title">
                  <img class="header-logo" src='./assets/flaticon/sales-invoice.png'>
                  <h3 class="header-nav-products sales-invoice-return" color="gunung-nago-warehouse">Sales Invoice</h3>
                </div>
              </ion-col>
            </ion-item-divider>
            <ion-row>
              <ion-col size-lg="12" size-md="12" size-xs="12">
                <div class="invoice-margin">
                  <div>
                    <span class="main"><strong>Invoice No:
                        {{salesInvoiceDetailsFrontDtoForSalesInvoice?.id}}</strong></span>
                    <div class="sub"><strong>Date Issued:</strong> </div>
                    <div class="sub">
                      {{salesInvoiceDetailsFrontDtoForSalesInvoice?.createdDate | date:'EEEE, MMMM d, y HH:mm'}}
                    </div>
                  </div>
                  <div class="invoice-subtitle">
                    <div *ngIf="salesInvoiceDetailsFrontDtoForSalesInvoice?.customerFirstName != 'anonymous'">
                      <div class="sub"><strong>Invoice To:</strong></div>
                      <span class="sub"><strong>Name:
                        </strong> {{salesInvoiceDetailsFrontDtoForSalesInvoice?.customerFirstName}}
                        {{salesInvoiceDetailsFrontDtoForSalesInvoice?.customerLastName}}</span>
                      <div class="sub">
                        <strong>Address:</strong> {{salesInvoiceDetailsFrontDtoForSalesInvoice?.customerAddress}}
                      </div>
                      <div class="sub"><strong>Telephone
                          Number:</strong> {{salesInvoiceDetailsFrontDtoForSalesInvoice?.customerTelephoneNumber}}</div>
                    </div>
                    <div>
                      <div *ngIf="salesInvoiceDetailsFrontDtoForSalesInvoice?.salesPerson != null" class="salesperson">
                        <div class="sub"><strong>Salesperson:</strong>
                          {{salesInvoiceDetailsFrontDtoForSalesInvoice?.salesPerson}}
                        </div>
                      </div>
                      <div *ngIf="salesInvoiceDetailsFrontDtoForSalesInvoice?.driverFirstName != null">
                        <div class="sub"><strong>Driver:</strong>
                          {{salesInvoiceDetailsFrontDtoForSalesInvoice?.driverFirstName}}
                          {{salesInvoiceDetailsFrontDtoForSalesInvoice?.driverLastName}}</div>
                      </div>
                    </div>
                  </div>

                  <table class="invoice-table">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price <span
                            *ngIf="salesInvoiceDetailsFrontDtoForSalesInvoice?.isToJakarta"> - EGG Per KG
                          </span></th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody
                      *ngFor="let invoiceDetail of salesInvoiceDetailsFrontDtoForSalesInvoice?.saleDetailsDtos let i = index">
                      <tr *ngIf="invoiceDetail.salesInvoiceType === 'MANURE'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FERTILIZER</td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail.manureWeightPerBag}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.quantity * invoiceDetail.price | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr
                        *ngIf="invoiceDetail.salesInvoiceType === 'EGG' && !salesInvoiceDetailsFrontDtoForSalesInvoice?.isToJakarta">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">EGG - <strong>{{invoiceDetail?.eggType | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>{{invoiceDetail.eggQuantityType
                            |
                            uppercase}}</strong></td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.quantity * invoiceDetail.price | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr
                        *ngIf="invoiceDetail.salesInvoiceType === 'EGG' && salesInvoiceDetailsFrontDtoForSalesInvoice?.isToJakarta">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">EGG - <strong>{{invoiceDetail?.eggType | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>{{invoiceDetail.eggQuantityType
                            |
                            uppercase}}</strong> - {{invoiceDetail.eggWeight}} KG</td>
                        <td data-label="Unit Price">Rp {{salesInvoiceDetailsFrontDtoForSalesInvoice?.pricePerKg | number
                          : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.eggWeight *
                          salesInvoiceDetailsFrontDtoForSalesInvoice?.pricePerKg | number :
                          '1.2-2'}}</td>
                      </tr>
                      <tr *ngIf="invoiceDetail.salesInvoiceType === 'FLOCK'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">CHICKEN - <strong>{{invoiceDetail.flockType | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}}</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.quantity * invoiceDetail.price | number : '1.2-2'}}
                        </td>
                      </tr>
                      <tr *ngIf="invoiceDetail.salesInvoiceType === 'FEED'">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FEED - <strong>{{invoiceDetail.feedName | uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.quantity}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail.feedWeightPerBag}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.price | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.quantity * invoiceDetail.price | number : '1.2-2'}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="invoice-footer">
                    <div>
                    </div>
                    <div>
                      <div class="invoice-date-title">
                        <table class="summary-table">
                          <tbody>
                            <tr>
                              <th id="total" colspan="1">SubTotal :</th>
                              <td>Rp {{salesInvoiceDetailsFrontDtoForSalesInvoice?.totalPrice | number :'1.2-2'}}</td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Discount :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Tax :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Total :</th>
                              <td>Rp {{salesInvoiceDetailsFrontDtoForSalesInvoice?.totalPrice | number :'1.2-2'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="6" size-md="6" size-xs="12">
      <ion-card class="invoice">
        <ion-card-content>
          <div>
            <ion-item-divider>
              <ion-col size-lg="6" size-md="6" size-xs="12">
                <div class="title">
                  <img class="header-logo" src='./assets/flaticon/return-invoice.png'>
                  <h3 class="header-nav-products">Return Invoice</h3>
                </div>
              </ion-col>
            </ion-item-divider>
            <ion-row>
              <ion-col size-lg="12" size-md="12" size-xs="12">
                <div class="invoice-margin">
                  <div>
                    <span class="main"><strong>Return Invoice No: ...</strong></span>
                    <div class="sub"><strong>Date Issued:</strong> </div>
                    <div class="sub">{{today | date:'EEEE, MMMM d, y HH:mm'}}
                    </div>
                  </div>
                  <div class="invoice-subtitle">
                    <div *ngIf="salesInvoiceDetailsForReturnDto?.customerFirstName != 'anonymous'">
                      <div class="sub"><strong>Invoice To:</strong></div>
                      <span class="sub"><strong>Name:
                        </strong> {{salesInvoiceDetailsForReturnDto?.customerFirstName}}
                        {{salesInvoiceDetailsForReturnDto?.customerLastName}}</span>
                      <div class="sub">
                        <strong>Address:</strong> {{salesInvoiceDetailsForReturnDto?.customerAddress}}
                      </div>
                      <div class="sub"><strong>Telephone
                          Number:</strong> {{salesInvoiceDetailsForReturnDto?.customerTelephoneNumber}}</div>
                    </div>
                    <div>
                      <div *ngIf="salesInvoiceDetailsForReturnDto?.salesPerson != null" class="salesperson">
                        <div class="sub"><strong>Salesperson:</strong> {{salesInvoiceDetailsForReturnDto?.salesPerson}}
                        </div>
                      </div>
                      <div *ngIf="salesInvoiceDetailsForReturnDto?.driverFirstName != null">
                        <div class="sub"><strong>Driver:</strong> {{salesInvoiceDetailsForReturnDto?.driverFirstName}}
                          {{salesInvoiceDetailsForReturnDto?.driverLastName}}</div>
                      </div>
                    </div>
                  </div>

                  <table class="invoice-table">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let invoiceDetail of returnFormGroupDetail?.controls let i = index">
                      <tr
                        *ngIf="invoiceDetail.get('salesInvoiceType')?.value === 'MANURE' && invoiceDetail?.get('quantity')?.value > 0">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FERTILIZER</td>
                        <td data-label="Quantity">{{invoiceDetail?.get('quantity')?.value}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail?.get('manureWeightPerBag')?.value}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.get('newPrice')?.value | number : '1.2-2'}}
                        </td>
                        <td data-label="Amount">Rp {{(invoiceDetail?.get('newPrice')?.value *
                          invoiceDetail?.get('quantity')?.value) | number : '1.2-2'}}</td>
                      </tr>
                      <tr
                        *ngIf="invoiceDetail.get('salesInvoiceType')?.value === 'EGG' && invoiceDetail?.get('quantity')?.value > 0">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">EGG - <strong>{{invoiceDetail?.get('eggCategoryName')?.value |
                            uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.get('quantity')?.value}} -
                          <strong>PIECE</strong>
                        </td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.get('newPrice')?.value | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{(invoiceDetail?.get('newPrice')?.value *
                          invoiceDetail?.get('quantity')?.value) | number : '1.2-2'}}</td>
                      </tr>
                      <tr
                        *ngIf="invoiceDetail.get('salesInvoiceType')?.value === 'FLOCK' && invoiceDetail?.get('quantity')?.value > 0">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">CHICKEN - <strong>{{invoiceDetail.get('flockType')?.value |
                            uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail?.get('quantity')?.value}}</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail?.get('newPrice')?.value | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{(invoiceDetail?.get('newPrice')?.value *
                          invoiceDetail?.get('quantity')?.value) | number : '1.2-2'}}</td>
                      </tr>
                      <tr
                        *ngIf="invoiceDetail.get('salesInvoiceType')?.value === 'FEED' && invoiceDetail?.get('quantity')?.value > 0">
                        <td data-label="No.">{{i + 1}}</td>
                        <td data-label="Product">FEED - <strong>{{invoiceDetail.get('feedName')?.value |
                            uppercase}}</strong></td>
                        <td data-label="Quantity">{{invoiceDetail.get('quantity')?.value}} - <strong>BAG(S)</strong> -
                          {{invoiceDetail.get('feedWeightPerBag')?.value}} KG</td>
                        <td data-label="Unit Price">Rp {{invoiceDetail.get('newPrice')?.value | number : '1.2-2'}}</td>
                        <td data-label="Amount">Rp {{invoiceDetail.get('quantity')?.value *
                          invoiceDetail.get('newPrice')?.value | number : '1.2-2'}}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="invoice-footer">
                    <div>
                    </div>
                    <div>
                      <div class="invoice-date-title">
                        <table class="summary-table">
                          <tbody>
                            <tr>
                              <th id="total" colspan="1">SubTotal :</th>
                              <td>Rp {{totalPriceForReturnSummary | number :'1.2-2'}}</td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Discount :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Tax :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th id="total" colspan="1">Total :</th>
                              <td>Rp {{totalPriceForReturnSummary | number :'1.2-2'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="payment-modal"
    backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/confirmation.png'>
            <h3 class="modal-header-text">Return Payment Confirmation</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="paymentForm">
          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Total Returned Price" label-placement="floating"
                fill="outline" type="number" formControlName="totalPrice"></ion-input>
            </ion-col>
            <ion-col>
              <span *ngIf="amountDue && amountDue > 0"
                class="ion-text-right red amount-due-customer-sale amount-due-for-model"
                (click)="routeToSalesInvoiceCustomerCreditList()">
                <strong>Total Credit Amount: Rp {{amountDue}}</strong>
              </span>
            </ion-col>
          </ion-row>

          <div class="add-payment-area">
            <div>

            </div>
            <div>
              <ion-button color="neutral-btn" class="add-payment-btn" (click)="addPayment()">Add Return
                Payment</ion-button>
            </div>
          </div>

          <div formArrayName="payments" *ngFor="let payment of paymentsFields?.controls; let i = index">
            <ion-item-divider>
              <ion-label>Return Payment</ion-label>
            </ion-item-divider>
            <span [formGroupName]="i">
              <ion-button *ngIf="paymentsFields != null && paymentsFields.length > 1" (click)="removePayment(i)"
                class="remove-payment-btn" color="gunung-nago-warehouse"><span
                  class="material-icons">delete</span></ion-button>
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-input color="gunung-nago-primary" label="Amount Returned" label-placement="floating"
                    fill="outline" type="number" formControlName="amountPaid"></ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.amountPaid">
                      <div class="error-message"
                        *ngIf="payment.get('amountPaid')?.hasError(error.type) && (payment.get('amountPaid')?.dirty || payment.get('amountPaid')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Return Payment Mode" label-placement="floating"
                    fill="outline" interface="popover" formControlName="paymentModeId">
                    <ion-select-option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">{{
                      paymentMode.name| titlecase}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.paymentModeId">
                      <div class="error-message"
                        *ngIf="payment.get('paymentModeId')?.hasError(error.type) && (payment.get('paymentModeId')?.dirty || payment.get('paymentModeId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentModeId')?.value?.requireBankAccount">
                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Bank Account" label-placement="floating" fill="outline"
                    interface="popover" formControlName="bankAccountId">
                    <ion-select-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{
                      bankAccount.accountHolder| uppercase}} - {{bankAccount.accountNumber}} -
                      {{bankAccount.bankName}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.bankAccountId">
                      <div class="error-message"
                        *ngIf="payment.get('bankAccountId')?.hasError(error.type) && (payment.get('bankAccountId')?.dirty || payment.get('bankAccountId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </span>
          </div>
        </form>

        <ion-row>
          <ion-col size="12" size-sm>
            <ion-textarea class="comment" color="gunung-nago-primary" label="Comments" label-placement="floating"
              fill="outline" type="text" clear-input="true" [(ngModel)]="comment" [autoGrow]="true"></ion-textarea>
          </ion-col>
        </ion-row>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn"
            [disabled]="!checkPaymentLessThanSoldAt() || paymentForm.get('totalPrice')?.value < 1 || !checkPaymentCompleted() || checkCreditCompleted()"
            (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>