<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/official-documents.png'>
          <h3 class="header-nav-products">Purchase Invoice</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="generatePurchaseInvoicePdf()">Test</ion-button>
  <div class="invoice-margin" *ngIf="type === 'HEALTH_PRODUCT'">
    <ion-card class="invoice">
      <ion-card-content>
        <div class="invoice-title">
          <div class="invoice-logo">
            <h5 class="logo-text">Invoice No: {{healthPurchaseInvoiceDetailsDto.number}}</h5>
          </div>
          <div>
          </div>
        </div>
        <div class="invoice-subtitle">
          <div>
            <div class="cashier-name main">Supplier: <span
                class="sub">{{healthPurchaseInvoiceDetailsDto.supplierName}}</span></div>
            <div class="cashier-name main">Address: <span
                class="sub">{{healthPurchaseInvoiceDetailsDto.supplierAddress}}</span>
            </div>
            <div class="cashier-name main">Tel:
              <span class="sub">{{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumber}}</span>
              <span class="sub" *ngIf="healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo">,
                {{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo}}</span>
              <span class="sub" *ngIf="healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree">,
                {{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree}}</span>
            </div>
          </div>
          <div>
            <div class="invoice-date-title main">Invoice Date: </div>
            <div class="invoice-date sub">{{healthPurchaseInvoiceDetailsDto.createdDate | date:'EEEE, MMMM d, y HH:mm'}}
            </div>
          </div>
        </div>

        <table class="invoice-table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Bonus</th>
              <th scope="col">Expiry Date</th>
              <th scope="col">Wholesale Price</th>
              <th scope="col">Retail Price</th>
              <th scope="col">Discount</th>
              <th scope="col">Tax</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let invoiceDetail of healthPurchaseInvoiceDetailsDto?.purchaseInvoiceHealthProductDetailsDtos let i = index">
              <td data-label="No.">{{i+1}}</td>
              <td data-label="Product Name">{{invoiceDetail?.healthProductName | titlecase}}</td>
              <td data-label="Quantity">{{invoiceDetail?.boxesReceived}}</td>
              <td data-label="Bonus">{{invoiceDetail?.bonusBoxesReceived? invoiceDetail?.bonusBoxesReceived: 0}}</td>
              <td data-label="Expiry Date">{{invoiceDetail?.expiryDate}}</td>
              <td data-label="Wholesale Price">Rp {{invoiceDetail?.wholesalePrice | number : '1.2-2'}}</td>
              <td data-label="Retail Price">Rp {{invoiceDetail?.pricePerBox | number : '1.2-2'}}</td>
              <td data-label="Discount">{{invoiceDetail?.discount | number :'1.2-2'}}%</td>
              <td data-label="Tax">{{invoiceDetail?.tax | number :'1.2-2'}}%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th id="total" colspan="1">Total :</th>
              <td></td>
              <td>{{totalQuantity}}</td>
              <td>{{totalBonusBoxesReceived}}</td>
              <td></td>
              <td>Rp {{totalWholesalePrice | number :'1.2-2'}}</td>
              <td>Rp {{totalRetailPrice | number :'1.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>

        <div class="invoice-footer">
          <div>
          </div>
          <div>
            <div class="invoice-date-title main">
              <table class="summary-table">
                <tbody>
                  <tr>
                    <th id="total" colspan="1">Total :</th>
                    <td>Rp {{healthPurchaseInvoiceDetailsDto.totalPrice | number :'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <textarea name="" id="" cols="30" rows="3"
          [disabled]="true">{{healthPurchaseInvoiceDetailsDto.comment}}</textarea>

      </ion-card-content>
    </ion-card>
  </div>

  <div class="invoice-margin" *ngIf="type === 'FEED'">
    <ion-card class="invoice">
      <ion-card-content>
        <div class="invoice-title">
          <div class="invoice-logo">
            <h5 class="logo-text">Invoice No: {{feedPurchaseInvoiceDetailsDto.number}}</h5>
          </div>
          <div>
          </div>
        </div>
        <div class="invoice-subtitle">
          <div>
            <div class="cashier-name main">Supplier: <span
                class="sub">{{feedPurchaseInvoiceDetailsDto.supplierName}}</span></div>
            <div class="cashier-name main">Address: <span
                class="sub">{{feedPurchaseInvoiceDetailsDto.supplierAddress}}</span>
            </div>
            <div class="cashier-name main">Tel:
              <span class="sub">{{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumber}}</span>
              <span class="sub" *ngIf="feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo">,
                {{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo}}</span>
              <span class="sub" *ngIf="feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree">,
                {{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree}}</span>
            </div>
          </div>
          <div>
            <div class="invoice-date-title main">Invoice Date: </div>
            <div class="invoice-date sub">{{feedPurchaseInvoiceDetailsDto.createdDate | date:'EEEE, MMMM d, y HH:mm'}}
            </div>
          </div>
        </div>

        <table class="invoice-table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Product Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Bags</th>
              <th scope="col">Bonus</th>
              <th scope="col">Wholesale Price</th>
              <th scope="col">Retail Price</th>
              <th scope="col">Discount</th>
              <th scope="col">Tax</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let invoiceDetail of feedPurchaseInvoiceDetailsDto?.purchaseInvoiceFeedDetailsDtos let i = index">
              <td data-label="No.">{{i+1}}</td>
              <td data-label="Product Name">{{invoiceDetail?.feedName | titlecase}}</td>
              <td data-label="Weight">{{invoiceDetail?.weight}}</td>
              <td data-label="Bags">{{invoiceDetail?.boxesReceived}}</td>
              <td data-label="Bonus">{{invoiceDetail?.bonusBoxesReceived? invoiceDetail?.bonusBoxesReceived: 0}}</td>
              <td data-label="Wholesale Price">Rp {{invoiceDetail?.wholesalePrice | number : '1.2-2'}}</td>
              <td data-label="Retail Price">Rp {{invoiceDetail?.pricePerBox | number : '1.2-2'}}</td>
              <td data-label="Discount">{{invoiceDetail?.discount | number :'1.2-2'}}%</td>
              <td data-label="Tax">{{invoiceDetail?.tax | number :'1.2-2'}}%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th id="total" colspan="1">Total :</th>
              <td></td>
              <th id="total" colspan="1"></th>
              <td>{{totalQuantity}}</td>
              <td>{{totalBonusBoxesReceived}}</td>
              <td>Rp {{totalWholesalePrice | number :'1.2-2'}}</td>
              <td>Rp {{totalRetailPrice | number :'1.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>

        <div class="invoice-footer">
          <div>
          </div>
          <div>
            <div class="invoice-date-title main">
              <table class="summary-table">
                <tbody>
                  <tr>
                    <th id="total" colspan="1">Total :</th>
                    <td>Rp {{feedPurchaseInvoiceDetailsDto.totalPrice | number :'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <textarea name="" id="" cols="30" rows="3"
          [disabled]="true">{{feedPurchaseInvoiceDetailsDto.comment}}</textarea>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>