<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/official-documents.png'>
          <h3 class="header-nav-products">Purchase Invoice</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invoice-margin" *ngIf="type === 'HEALTH_PRODUCT'">
    <ion-card class="invoice">
      <ion-card-content>
        <div class="invoice-title">
          <div class="invoice-logo">
            <h5 class="logo-text">Invoice No: {{healthPurchaseInvoiceDetailsDto.number}}</h5>
          </div>
          <div>
          </div>
        </div>
        <div class="invoice-subtitle">
          <div>
            <div class="cashier-name main">Supplier: <span
                class="sub">{{healthPurchaseInvoiceDetailsDto.supplierName}}</span></div>
            <div class="cashier-name main">Address: <span
                class="sub">{{healthPurchaseInvoiceDetailsDto.supplierAddress}}</span>
            </div>
            <div class="cashier-name main">Tel:
              <span class="sub">{{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumber}}</span>
              <span class="sub" *ngIf="healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo">, {{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo}}</span>
              <span class="sub" *ngIf="healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree">, {{healthPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree}}</span>
            </div>
          </div>
          <div>
            <div class="invoice-date-title main">Invoice Date:</div>
            <div class="invoice-date sub">{{healthPurchaseInvoiceDetailsDto.createdDate | date:'EEEE, MMMM d, yHH:mm'}}
            </div>
          </div>
        </div>

        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Product Name</div>
            <div class="col col-2">Quantity</div>
            <div class="col col-3">Bonus</div>
            <div class="col col-4">Expiry Date</div>
            <div class="col col-5">Retail Price</div>
            <div class="col col-6">Wholesale Price</div>
            <div class="col col-7">Discount</div>
            <div class="col col-8">Tax</div>
          </li>
          <li class="table-row"
            *ngFor="let invoiceDetail of healthPurchaseInvoiceDetailsDto?.purchaseInvoiceHealthProductDetailsDtos">
            <div class="col col-1" data-label="Product Name">{{invoiceDetail?.healthProductName |
              titlecase}}</div>
            <div class="col col-2" data-label="Quantity">{{invoiceDetail?.boxesReceived}}</div>
            <div class="col col-3" data-label="Bonus">{{invoiceDetail?.bonusBoxesReceived?
              invoiceDetail?.bonusBoxesReceived: 0}}</div>
            <div class="col col-4" data-label="Expiry Date">{{invoiceDetail?.expiryDate}}</div>
            <div class="col col-5" data-label="Retail Price">Rp {{invoiceDetail?.pricePerBox | number : '1.2-2'}}</div>
            <div class="col col-6" data-label="Wholesale Price">Rp {{invoiceDetail?.wholesalePrice | number : '1.2-2'}}
            </div>
            <div class="col col-7" data-label="Discount">
              <span *ngIf="invoiceDetail?.discount">{{invoiceDetail?.discount | number :'1.2-2'}}%</span>
            </div>
            <div class="col col-8" data-label="Tax">
              <span *ngIf="invoiceDetail?.tax">{{invoiceDetail?.tax | number :'1.2-2'}}%</span>
            </div>
          </li>
        </ul>

        <div class="invoice-footer">
          <div>
            <!-- <div class="sub">Thank you for your purchase</div>
            <div class="sub">© {{pharmacy}}</div> -->
          </div>
          <div>
            <div class="invoice-date-title main">Total: Rp {{healthPurchaseInvoiceDetailsDto.totalPrice | number :
              '1.2-2'}}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="invoice-margin" *ngIf="type === 'FEED'">
    <ion-card class="invoice">
      <ion-card-content>
        <div class="invoice-title">
          <div class="invoice-logo">
            <h5 class="logo-text">Invoice No: {{feedPurchaseInvoiceDetailsDto.number}}</h5>
          </div>
          <div>
          </div>
        </div>
        <div class="invoice-subtitle">
          <div>
            <div class="cashier-name main">Supplier: <span
                class="sub">{{feedPurchaseInvoiceDetailsDto.supplierName}}</span></div>
            <div class="cashier-name main">Address: <span
                class="sub">{{feedPurchaseInvoiceDetailsDto.supplierAddress}}</span>
            </div>
            <div class="cashier-name main">Tel:
              <span class="sub">{{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumber}}</span>
              <span class="sub" *ngIf="feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo">, {{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberTwo}}</span>
              <span class="sub" *ngIf="feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree">, {{feedPurchaseInvoiceDetailsDto.supplierTelephoneNumberThree}}</span>
            </div>
          </div>
          <div>
            <div class="invoice-date-title main">Invoice Date:</div>
            <div class="invoice-date sub">{{feedPurchaseInvoiceDetailsDto.createdDate | date:'EEEE, MMMM d, yHH:mm'}}
            </div>
          </div>
        </div>

        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Product Name</div>
            <div class="col col-2">Weight</div>
            <div class="col col-3">Bags</div>
            <div class="col col-4">Bonus</div>
            <div class="col col-5">Retail Price</div>
            <div class="col col-6">Wholesale Price</div>
            <div class="col col-7">Discount</div>
            <div class="col col-8">Tax</div>
          </li>
          <li class="table-row"
            *ngFor="let invoiceDetail of feedPurchaseInvoiceDetailsDto?.purchaseInvoiceFeedDetailsDtos">
            <div class="col col-1" data-label="Product Name">{{invoiceDetail?.feedName |
              titlecase}}</div>
            <div class="col col-2" data-label="Weight">{{invoiceDetail?.weight}} kg</div>

            <div class="col col-3" data-label="Quantity">{{invoiceDetail?.boxesReceived}}</div>
            <div class="col col-4" data-label="Bonus">{{invoiceDetail?.bonusBoxesReceived?
              invoiceDetail?.bonusBoxesReceived: 0}}</div>
            <div class="col col-5" data-label="Retail Price">Rp {{invoiceDetail?.pricePerBox | number : '1.2-2'}}</div>
            <div class="col col-6" data-label="Wholesale Price">Rp {{invoiceDetail?.wholesalePrice | number : '1.2-2'}}
            </div>
            <div class="col col-7" data-label="Discount">
              <span *ngIf="invoiceDetail?.discount">{{invoiceDetail?.discount | number :'1.2-2'}}%</span>
            </div>
            <div class="col col-8" data-label="Tax">
              <span *ngIf="invoiceDetail?.tax">{{invoiceDetail?.tax | number :'1.2-2'}}%</span>
            </div>
          </li>
        </ul>

        <div class="invoice-footer">
          <div>
            <!-- <div class="sub">Thank you for your purchase</div>
            <div class="sub">© {{pharmacy}}</div> -->
          </div>
          <div>
            <div class="invoice-date-title main">Total: Rp {{feedPurchaseInvoiceDetailsDto.totalPrice | number :
              '1.2-2'}}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>