<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/header-icon/process.png'>
          <h3 class="header-nav-products">{{ 'activity.activity' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="0" offset-xs="0" size-sm="0" offset-sm="0" size-md="2" offset-md="1"></ion-col>

        <ion-col size-xs="12" size-md="3">
          <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>

          <ion-card routerLink="/survey/survey-details">
            <div class="card-corner survey"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.survey' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/survey.png" alt="survey">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner report"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.daily-report' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/marker.png" alt="report">
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner warehouse"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.warehouse' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/warehouse.png" alt="report">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="3">
          <ion-card routerLink="/cage/cage-list">
            <div class="card-corner cage"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.cage' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/cage.png" alt="survey">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner flock"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.chicken-flock' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/poultry.png" alt="report">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner dashboard"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.dashboard' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/dashboard.png" alt="report">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner vaccine"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.vaccine-medication' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/vaccine.png" alt="report">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="3">
          <ion-card>
            <div class="card-corner chicken-food"></div>
            <ion-card-header>
              <ion-card-title class="home-card-title">{{ 'activity.chicken-food' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="home-card-content">
              <img class="img-card-home" src="./assets/home-icon/chicken-rice.png" alt="survey">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>