<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/icon/chicken/icons8-chicken-64.png'>
          <h3 class="header-nav-products">CV Gunung Nago</h3>
        </div>
        <div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->

  <ion-row>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card class="mb-2">
        <ion-card-content class="card-info danger">
          <div class="card-info-title">{{"Today's Credit Amount" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{8912 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of customers: {{5 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="card-info danger">
          <div class="card-info-title">{{currentDate | date:'LLLL' | uppercase}} {{"Credit Amount" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{8912 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of customers: {{5 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card class="mb-2">
        <ion-card-content class="card-info danger">
          <div class="card-info-title">{{"Outstanding Amount" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{8912 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of customers: {{5 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="card-info danger">
          <div class="card-info-title">{{"Past Due Amount" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{8912 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of customers: {{5 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card class="mb-2">
        <ion-card-content class="card-info warning">
          <div class="card-info-title">{{"Today's Purchases" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{1008783 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of purchases: {{1033 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="card-info warning">
          <div class="card-info-title">{{currentDate | date:'LLLL' | uppercase}} {{"Purchases" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{1008783 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of purchases: {{1033 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card class="mb-2">
        <ion-card-content class="card-info success">
          <div class="card-info-title">{{"Today's Sales" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{1008783 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of sales: {{1033 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="card-info success">
          <div class="card-info-title">{{currentDate | date:'LLLL' | uppercase}} {{"Sales" | uppercase}}</div>
          <div class="card-info-text"><strong>Rp {{1008783 | number : '1.2-2'}}</strong></div>
          <div class="card-info-message">No. of sales: {{1033 | number:'':'en-En'}}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="3" size-md="3" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-lg="4" size-md="4" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart [data]="lineChartData" [type]="lineChartType" [options]="lineChartOptions">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Eggs sold Today</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/eggs.png'>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Eggs sold {{currentDate | date:'LLLL'}}</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/eggs.png'>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Chicken sold Today</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img flocks-img" src='./assets/flaticon/flocks.png'>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Chicken sold {{currentDate | date:'LLLL'}}</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img flocks-img" src='./assets/flaticon/flocks.png'>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Feed Bags sold Today</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/sack.png'>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Feed Bags sold on {{currentDate | date:'LLLL'}}</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/sack.png'>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="2" size-md="2" size-xs="12">
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Fertilizer Bags sold Today</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/manure-bag.png'>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div class="first-level-title">Fertilizer Bags sold on {{currentDate | date:'LLLL'}}</div>
          <div class="first-level-amount">{{14050 | number:'':'en-En'}}</div>
          <img class="first-level-img" src='./assets/flaticon/manure-bag.png'>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="divider-wrapper mt-1">
    <div class="section">
      <img class="divider-img" src='./assets/flaticon/eggs.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider>
        <ion-label>Eggs</ion-label>
      </ion-item-divider>
    </div>
  </div>
  <ion-row>
    <ion-col size-lg="4" size-md="4" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart class="chart" [data]="eggProductionBarChartData" [options]="eggProductionBarChartOptions"
            [type]="barChartType">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="4" size-md="4" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart class="chart" [data]="eggSalesBarChartData" [options]="eggSalesBarChartOptions"
            [type]="barChartType">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="divider-wrapper mt-1">
    <div class="section">
      <img class="divider-img" src='./assets/flaticon/flock.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider>
        <ion-label>Chicken</ion-label>
      </ion-item-divider>
    </div>
  </div>
  <ion-row>
    <ion-col size-lg="4" size-md="4" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart class="chart" [data]="flockSurveyBarChartData" [options]="flockSurveyBarChartOptions"
            [type]="barChartType">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="4" size-md="4" size-xs="12">
      <ion-card>
        <ion-card-content>
          <canvas baseChart class="chart" [data]="flockSalesBarChartData" [options]="flockSalesBarChartOptions"
            [type]="barChartType">
          </canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="divider-wrapper mt-1">
    <div class="section">
      <img class="divider-img" src='./assets/flaticon/sack.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider>
        <ion-label>Feed</ion-label>
      </ion-item-divider>
    </div>
  </div>
  <div class="divider-wrapper mt-1">
    <div class="section">
      <img class="divider-img" src='./assets/flaticon/manure-bag.png'>
    </div>
    <div class="divider-text">
      <ion-item-divider>
        <ion-label>Fertilizer</ion-label>
      </ion-item-divider>
    </div>
  </div>
</ion-content>