::ng-deep .doughnutChart {
  margin: auto;
  height: 400px !important;
  width: 400px !important;
}

// .mb-2 {
//   margin-bottom: 2em;
// }

.danger {
  background-color: #d13710;
}

.success {
  background-color: rgb(6, 140, 56);
}

.neutral {
  background-color: #0F1A87;
}

.warning {
  background-color: #F79F1F;
}

.card-info {
  text-align: center;
}

.card-info-title {
  font-size: 15px;
  color: white;
}

.card-info-text {
  font-size: 2em;
  color: white;
}

.card-info-message {
  font-size: 15px;
  color: white;
}

.first-level-title {
  color: black;
}

.first-level-amount {
  color: black;
  font-size: 1.8em;
  font-weight: 500;
}

.first-level-img {
  width: 4.8em;
  text-align: center;
  margin: auto;
  display: flex;
}

.flocks-img {
  width: 6em;
}

.divider-img {
  width: 3em;
}

.divider-wrapper {
  margin: 1em;
}

ion-item-divider {
  margin-bottom: 1em;
  border-color: rgb(34, 34, 34);
  color: rgb(34, 34, 34);
  font-weight: 500;
}