<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/payment-mode.png'>
          <h3 class="header-nav-products">Payment Modes</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="btn-container">
    <ion-button color="neutral-btn" routerLink="/payment-mode/payment-mode-details"><ion-icon
        name="add"></ion-icon></ion-button>
  </div>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true"
        [dataSource]="paymentModes">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
        </ng-container>


        <ng-container matColumnDef="requireBankAccount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="requireBankAccount"> Require Bank Account </th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="element.requireBankAccount" src='./assets/flaticon/tick.png'>
            <img *ngIf="!element.requireBankAccount" src='./assets/flaticon/cross.png'>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn" *ngIf="element.id != 1 && element.id != 2 && element.id != 5">
              <ion-icon class="table-edit-icon" color="neutral-btn" (click)="openModal(element)"
                name="create"></ion-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more payment modes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="cage-modal" backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/edit.png'>
            <h3 class="modal-header-text">Edit Payment Mode</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="paymentModeEditForm">
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Name*" label-placement="floating" fill="outline" type="text"
                clear-input="true" formControlName="name" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.name">
                  <div class="error-message"
                    *ngIf="paymentModeEditForm.get('name')?.hasError(error.type) && (paymentModeEditForm.get('name')?.dirty || paymentModeEditForm.get('name')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-toggle labelPlacement="start" class="toggle" formControlName="requireBankAccount"
                color="gunung-nago-report">Require Bank Account*</ion-toggle>
            </ion-col>
          </ion-row>
        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>