.subtitle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 10px;

    .cart-logo {
        width: 23px;
    }

    .cart-text {
        font-size: 24px;
        padding-top: 8px;
        margin-top: 5px;
        padding-left: 5px;
    }
}

.form-section-cart {
    font-weight: 500;
    padding-top: 9px;
    padding-left: 7px;
    color: black;
    font-size: 18px;
}

.add-payment-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.remove-payment-btn {
    font-size: 12px;
    float: right;
    height: 30px;
    width: 40px;
    margin-top: 23px;
    margin-right: 5px;
}

.add-payment-area {
    display: flex;
    justify-content: space-between;
}

.flock-modal {
    --height: 50em;
    --width: 50em;
}

.eggs {
    width: 4em;
}

.egg-section {
    text-align: center;
    color: black;
}

.egg-count {
    font-size: 18px;
}

.good-bad-egg-section {
    display: flex;
    justify-content: space-around;
    margin-top: 1.75em;
}

.eggs-form {
    margin: 10px 0px 0 10px;
    width: 3em;
}

.big-eggs-form {
    margin: 5px 0px 0 10px;
    width: 3em;
}

.medium-eggs-form {
    margin: 17px 0px 0 10px;
    width: 3em;
}

.small-eggs-form {
    margin: 23px 0px 0 10px;
    width: 3em;
}

.egg-form-section-left {
    margin-right: 1em;
}

.egg-form-section-middle {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.egg-form-section-right {
    margin-left: 1em;
}

.total-per {
    color: black;
    margin-top: 1em;
}

.medium-category {
    margin-top: 3px;
}

.small-category {
    margin-top: 19px;
}

.bad-checkbox-item {
    margin-bottom: 2.6em;
}

.radio-class {
    margin: 10px;
}