<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/egg-sale.png'>
          <h3 class="header-nav-products">Egg Sale Details</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="eggSaleForm">
    <ion-row>
      <ion-col col-md-6 size="6" size-sm>
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/customer.png'>
          <div class="form-section-cart">Customer</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Customer Details</ion-label>
            </ion-item-divider>
            <div>
              <ion-row>
                <ion-col>
                  <ion-toggle labelPlacement="start" class="toggle" formControlName="newCustomer"
                    (ionChange)="newCustomerChange($event)" color="gunung-nago-report">New
                    Customer*</ion-toggle>
                </ion-col>
                <span *ngIf="selectedCustomer.totalAmountDue" class="ion-text-right red amount-due-customer-sale"
                  (click)="routeToSalesInvoiceCustomerCreditList()">
                  <strong>Total Credit Amount: Rp {{selectedCustomer.totalAmountDue}}</strong>
                </span>
              </ion-row>
              <ion-row *ngIf="!isNewCustomer">
                <ion-col size="12">
                  <mat-form-field class="autocomplete-full-width" appearance="outline">
                    <input matInput placeholder="Search customer..." [(ngModel)]="selectedCustomer"
                      [matAutocomplete]="auto" [formControl]="searchCustomerCtrl" placeholder="Seach customer...">
                    <button *ngIf="selectedCustomer" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearCustomer(searchCustomerCtrl)">
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                    <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete"
                      (optionSelected)="setSelectedCustomer($event)" [displayWith]="displayWith">
                      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                          <span>{{customer.lastName}} {{customer.firstName}}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row formGroupName="customer">
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="firstName" label="First Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.firstName">
                      <div class="error-message"
                        *ngIf="eggSaleForm.get('customer.firstName')?.hasError(error.type) && (eggSaleForm.get('customer.firstName')?.dirty || eggSaleForm.get('customer.firstName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="lastName" label="Last Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.lastName">
                      <div class="error-message"
                        *ngIf="eggSaleForm.get('customer.lastName')?.hasError(error.type) && (eggSaleForm.get('customer.lastName')?.dirty || eggSaleForm.get('customer.lastName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="customer">
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="address" label="Address" label-placement="floating" fill="outline"
                    type="text" clear-input="true">
                  </ion-input>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="telephoneNumber" label="Telephone*" label-placement="floating"
                    fill="outline" type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                      <div class="error-message"
                        *ngIf="eggSaleForm.get('customer.telephoneNumber')?.hasError(error.type) && (eggSaleForm.get('customer.telephoneNumber')?.dirty || eggSaleForm.get('customer.telephoneNumber')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-6 size="6" size-sm>
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/eggs.png'>
          <div class="form-section-cart">Eggs</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Egg Stock</ion-label>
            </ion-item-divider>
            <div class="good-bad-egg-section">
              <div class="egg-section">
                <div>
                  <strong>Total</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.totalEggs}}</strong>
                </div>
              </div>

              <div class="egg-section">
                <div>
                  <strong>Good</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/good-eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.goodEggs}}</strong>
                </div>
              </div>

              <div class="egg-section">
                <div>
                  <strong>Bad</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/bad-eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.badEggs}}</strong>
                </div>
              </div>
            </div>

            <ion-row class="egg-stock-section">
              <ion-col col-md-3 size="3" size-sm *ngFor="let eggCategory of eggStock.eggCategoryStockDtos">
                <div class="egg-section">
                  <div>
                    <strong>{{eggCategory.name | titlecase}}</strong>
                  </div>
                  <img class="eggs" src='./assets/flaticon/category-big.png'>
                  <div class="egg-count">
                    <strong>{{eggCategory.quantity}}</strong>
                  </div>
                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-6 size="6" size-sm>
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/category.png'>
          <div class="form-section-cart">Egg Category</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Select Egg Category</ion-label>
            </ion-item-divider>
            <ion-list>
              <ion-item *ngFor="let eggCategory of eggStock.eggCategoryStockDtos">
                <ion-checkbox [disabled]="!(eggCategory.quantity > 0)" justify="space-between" color="positive-btn"
                  (ionChange)="addEggCategory($event, eggCategory)">{{eggCategory.name |
                  titlecase}}</ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-6 size="6" size-sm></ion-col>
    </ion-row>

    <div class="subtitle" *ngIf="showFormArray">
      <img class="cart-logo" src='./assets/flaticon/egg-form.png'>
      <div class="form-section-cart">Quantity and Price</div>
    </div>

    <ion-card *ngIf="showFormArray">
      <ion-card-content>
        <div formArrayName="eggCategorySaleDtos"
          *ngFor="let eggCategory of eggCategoriesFields?.controls; let i = index">
          <div class="divider-wrapper">
            <div class="egg-section">
              <img *ngIf="eggCategory.get('eggType')?.value != 'BAD'" class="big-eggs-form"
                src='./assets/flaticon/good-category.png'>
              <img *ngIf="eggCategory.get('eggType')?.value == 'BAD'" class="big-eggs-form"
                src='./assets/flaticon/bad-category.png'>
              <div class="egg-count">
                <strong>{{eggCategory.get('quantity')?.value - ((eggCategory.get('tie')?.value * 300)+
                  (eggCategory.get('tray')?.value * 30) + eggCategory.get('piece')?.value)}}</strong>
              </div>
            </div>
            <div class="divider-text">
              <ion-item-divider>
                <ion-label>{{eggCategory.get('name')?.value | titlecase}} Eggs</ion-label>
              </ion-item-divider>
            </div>
          </div>
          <span [formGroupName]="i">
            <ion-row>
              <ion-col size-xs="12" size-md="4">
                <div class="egg-form-section-right">
                  <ion-item-divider>
                    <ion-label>Tie</ion-label>
                  </ion-item-divider>
                  <div>
                    <ion-input color="gunung-nago-survey" label="Tie" label-placement="floating" fill="outline"
                      type="number" min="0" clear-input="true" formControlName="tie"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggCategory.get('tie')?.hasError(error.type) && (eggCategory.get('tie')?.dirty || eggCategory.get('tie')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="mt-1">
                    <ion-input color="gunung-nago-survey" label="Price per Tie" label-placement="floating"
                      fill="outline" type="number" min="0" clear-input="true" formControlName="pricePerTie"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggCategory.get('pricePerTie')?.hasError(error.type) && (eggCategory.get('pricePerTie')?.dirty || eggCategory.get('pricePerTie')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="total-per ml-1">
                  <strong>Total Price: {{eggCategory.get('tie')?.value *
                    eggCategory.get('pricePerTie')?.value}}</strong>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <div class="egg-form-section-middle">
                  <ion-item-divider>
                    <ion-label>Tray</ion-label>
                  </ion-item-divider>
                  <div>
                    <ion-input color="gunung-nago-survey" label="Tray" label-placement="floating" fill="outline"
                      type="number" min="0" clear-input="true" formControlName="tray"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggCategory.get('tray')?.hasError(error.type) && (eggCategory.get('tray')?.dirty || eggCategory.get('tray')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="mt-1">
                    <ion-input color="gunung-nago-survey" label="Price per tray" label-placement="floating"
                      fill="outline" type="number" min="0" clear-input="true" formControlName="pricePerTray"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggCategory.get('pricePerTray')?.hasError(error.type) && (eggCategory.get('pricePerTray')?.dirty || eggCategory.get('pricePerTray')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="total-per ml-05">
                  <strong>Total Price: {{eggCategory.get('tray')?.value *
                    eggCategory.get('pricePerTray')?.value}}</strong>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="4">
                <div class="egg-form-section-left">
                  <ion-item-divider>
                    <ion-label>Piece</ion-label>
                  </ion-item-divider>
                  <div>
                    <ion-input color="gunung-nago-survey" label="Piece" label-placement="floating" fill="outline"
                      type="number" min="0" clear-input="true" formControlName="piece"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggSaleForm.get('piece')?.hasError(error.type) && (eggSaleForm.get('piece')?.dirty || eggSaleForm.get('piece')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="mt-1">
                    <ion-input color="gunung-nago-survey" label="Price per piece" label-placement="floating"
                      fill="outline" type="number" min="0" clear-input="true" formControlName="pricePerPiece"
                      (ionChange)="calculateTotalPrice(); calculateRemainingEggs()"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.minValue">
                        <div class="error-message"
                          *ngIf="eggSaleForm.get('pricePerPiece')?.hasError(error.type) && (eggSaleForm.get('pricePerPiece')?.dirty || eggSaleForm.get('pricePerPiece')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="total-per">
                  <strong>Total Price: {{eggCategory.get('piece')?.value *
                    eggCategory.get('pricePerPiece')?.value}}</strong>
                </div>
              </ion-col>
            </ion-row>
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="btn-container">
      <ion-button class="cancel-btn" (click)="reset()">Cancel</ion-button>
      <ion-button color="positive-btn" (click)="openModal()"
        [disabled]="eggSaleForm.invalid || totalRemainingEggs < 0 || totalRemainingGoodEggs < 0 || totalRemainingBadEggs < 0 || disableSave">Save</ion-button>
    </div>
  </form>


  <ion-row *ngIf="totalPrice > 0">
    <ion-col size-lg="8" size-md="6" size-xs="12">
      <ion-card class="invoice">
        <ion-card-content>
          <div class="subtitle">
            <img class="cart-logo" src='./assets/flaticon/official-documents.png'>
            <div class="form-section-cart">Preview Sales Invoice</div>
          </div>
          <div class="invoice-title">
            <div>
              <div class="invoice-logo">
                <img class="logo-img" src='./assets/icon/chicken/icons8-chicken-64.png'>
                <h5 class="logo-text"><strong>{{company}}</strong></h5>
              </div>
              <div>
                <div class="sub"><strong>Address:</strong> {{address}} </div>
                <div class="sub"><strong>Telephone Number(s):</strong> {{phone}}</div>
                <div class="sub"><strong>Email:</strong> {{email}}</div>
                <!-- <div class="sub"><strong>Registration Number (SIUP):</strong> {{regNo}}</div> -->
                <div class="sub"><strong>Year of Establishment:</strong> {{yoe}}</div>
              </div>
            </div>

            <div>
              <span class="main"><strong>Invoice No: ...</strong></span>
              <div class="sub"><strong>Date Issued:</strong> </div>
              <div class="sub">{{today | date:'EEEE, MMMM d, y HH:mm'}}
              </div>
            </div>
          </div>
          <div class="invoice-subtitle">
            <div
              *ngIf="eggSaleForm.get('customer.firstName')?.value != 'anonymous' && eggSaleForm.get('customer.firstName')?.value != null && eggSaleForm.get('customer.firstName')?.value != ''">
              <div class="sub"><strong>Invoice To:</strong></div>
              <span class="sub"><strong>Name:
                </strong> {{eggSaleForm.get('customer.firstName')?.value}}
                {{eggSaleForm.get('customer.lastName')?.value}}</span>
              <div class="sub">
                <strong>Address:</strong> {{eggSaleForm.get('customer.address')?.value}}
              </div>
              <div class="sub"><strong>Telephone
                  Number:</strong> {{eggSaleForm.get('customer.telephoneNumber')?.value}}</div>
            </div>
            <div>
              <!-- <div *ngIf="manureSalesInvoiceDetailsFrontDto.salesPerson != null" class="salesperson">
                <div class="sub"><strong>Salesperson:</strong> {{manureSalesInvoiceDetailsFrontDto.salesPerson}}</div>
              </div>
              <div *ngIf="manureSalesInvoiceDetailsFrontDto.driverFirstName != null">
                <div class="sub"><strong>Driver:</strong> {{manureSalesInvoiceDetailsFrontDto.driverFirstName}}
                  {{manureSalesInvoiceDetailsFrontDto.driverLastName}}</div>
              </div> -->
            </div>
          </div>

          <table class="invoice-table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eggCategory of eggCategoriesFields?.controls; let i = index">
                <td *ngIf="eggCategory.get('tie')?.value > 0" data-label="Product">EGG -
                  <strong>{{eggCategory.get('name')?.value | uppercase}}</strong>
                </td>
                <td *ngIf="eggCategory.get('tie')?.value > 0" data-label="Quantity">{{eggCategory.get('tie')?.value}} -
                  <strong>TIE</strong>
                </td>
                <td *ngIf="eggCategory.get('tie')?.value > 0" data-label="Unit Price">Rp
                  {{eggCategory.get('pricePerTie')?.value}}</td>
                <td *ngIf="eggCategory.get('tie')?.value > 0" data-label="Amount">Rp {{ eggCategory.get('tie')?.value *
                  eggCategory.get('pricePerTie')?.value | number
                  :'1.2-2'}}
                </td>
              </tr>

              <tr *ngFor="let eggCategory of eggCategoriesFields?.controls; let i = index">
                <td *ngIf="eggCategory.get('tray')?.value > 0" data-label="Product">EGG -
                  <strong>{{eggCategory.get('name')?.value | uppercase}}</strong>
                </td>
                <td *ngIf="eggCategory.get('tray')?.value > 0" data-label="Quantity">{{eggCategory.get('tray')?.value}}
                  - <strong>TRAY</strong></td>
                <td *ngIf="eggCategory.get('tray')?.value > 0" data-label="Unit Price">Rp
                  {{eggCategory.get('pricePerTray')?.value}}</td>
                <td *ngIf="eggCategory.get('tray')?.value > 0" data-label="Amount">Rp {{ eggCategory.get('tray')?.value
                  *
                  eggCategory.get('pricePerTray')?.value | number
                  :'1.2-2'}}
                </td>
              </tr>

              <tr *ngFor="let eggCategory of eggCategoriesFields?.controls; let i = index">
                <td *ngIf="eggCategory.get('piece')?.value > 0" data-label="Product">EGG -
                  <strong>{{eggCategory.get('name')?.value | uppercase}}</strong>
                </td>
                <td *ngIf="eggCategory.get('piece')?.value > 0" data-label="Quantity">
                  {{eggCategory.get('piece')?.value}} - <strong>PIECE</strong></td>
                <td *ngIf="eggCategory.get('piece')?.value > 0" data-label="Unit Price">Rp
                  {{eggCategory.get('pricePerPiece')?.value}}</td>
                <td *ngIf="eggCategory.get('piece')?.value > 0" data-label="Amount">Rp {{
                  eggCategory.get('piece')?.value *
                  eggCategory.get('pricePerPiece')?.value | number
                  :'1.2-2'}}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="invoice-footer">
            <div>
            </div>
            <div>
              <div class="invoice-date-title">
                <table class="summary-table">
                  <tbody>
                    <tr>
                      <th id="total" colspan="1">SubTotal :</th>
                      <td>Rp {{totalPrice | number :'1.2-2'}}</td>
                    </tr>
                    <tr>
                      <th id="total" colspan="1">Total :</th>
                      <td>Rp {{totalPrice | number :'1.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-lg="4" size-md="6" size-xs="12">

    </ion-col>
  </ion-row>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="payment-modal"
    backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/confirmation.png'>
            <h3 class="modal-header-text">Sales Confirmation</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="paymentForm">
          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Total Price" label-placement="floating" fill="outline"
                type="number" formControlName="totalPrice"></ion-input>
            </ion-col>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Sold at*" label-placement="floating" fill="outline"
                type="number" formControlName="soldAt"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.soldAt">
                  <div class="error-message"
                    *ngIf="paymentForm.get('soldAt')?.hasError(error.type) && (paymentForm.get('soldAt')?.dirty || paymentForm.get('soldAt')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Discount (%)" label-placement="floating" fill="outline"
                [disabled]="true" type="number"
                [value]="(((paymentForm.get('totalPrice')?.value - paymentForm.get('soldAt')?.value)) / paymentForm.get('totalPrice')?.value) * 100"></ion-input>
            </ion-col>
          </ion-row>

          <div class="add-payment-area">
            <div>
            </div>
            <div>
              <ion-button color="neutral-btn" class="add-payment-btn" (click)="addPayment()">Add Payment</ion-button>
            </div>
          </div>

          <div formArrayName="payments" *ngFor="let payment of paymentsFields?.controls; let i = index">
            <ion-item-divider>
              <ion-label>Payment</ion-label>
            </ion-item-divider>
            <span [formGroupName]="i">
              <ion-button *ngIf="paymentsFields != null && paymentsFields.length > 1" (click)="removePayment(i)"
                class="remove-payment-btn" color="gunung-nago-warehouse"><span
                  class="material-icons">delete</span></ion-button>
              <ion-row>
                <ion-col size="6" size-sm>
                  <ion-input color="gunung-nago-primary" label="Amount Paid*" label-placement="floating" fill="outline"
                    type="number" formControlName="amountPaid"></ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.amountPaid">
                      <div class="error-message"
                        *ngIf="payment.get('amountPaid')?.hasError(error.type) && (payment.get('amountPaid')?.dirty || payment.get('amountPaid')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Payment Mode*" label-placement="floating"
                    fill="outline" interface="popover" placeholder="Payment Mode" formControlName="paymentModeId">
                    <ion-select-option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">{{
                      paymentMode.name| titlecase}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.paymentModeId">
                      <div class="error-message"
                        *ngIf="payment.get('paymentModeId')?.hasError(error.type) && (payment.get('paymentModeId')?.dirty || payment.get('paymentModeId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentModeId')?.value?.id === 1">
                <ion-col size="6">
                  <mat-form-field class="date-full-width" appearance="outline">
                    <mat-label>Payment Deadline</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="today" formControlName="paymentDeadline">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="payment.get('paymentModeId')?.value?.requireBankAccount">
                <ion-col size="6">
                  <ion-select color="gunung-nago-primary" label="Bank Account" label-placement="floating" fill="outline"
                    interface="popover" placeholder="Bank account" formControlName="bankAccountId">
                    <ion-select-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{
                      bankAccount.accountHolder| uppercase}} - {{bankAccount.accountNumber}} -
                      {{bankAccount.bankName}}</ion-select-option>
                  </ion-select>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.bankAccountId">
                      <div class="error-message"
                        *ngIf="payment.get('bankAccountId')?.hasError(error.type) && (payment.get('bankAccountId')?.dirty || payment.get('bankAccountId')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </span>
          </div>
        </form>
        <ion-row>
          <ion-col size="3">
            <ion-item-divider>
              <ion-label>Option</ion-label>
            </ion-item-divider>
            <ion-radio-group [(ngModel)]="salesInvoiceCategory" (ionChange)="selectSalesInvoiceCategory($event)">
              <div *ngFor="let salesInvoiceCategory of salesInvoiceCategories" class="radio-class">
                <ion-radio color="positive-btn" [value]="salesInvoiceCategory">{{salesInvoiceCategory === 'IN_STORE'?
                  'In Store' : 'Delivery'}}</ion-radio><br />
              </div>
            </ion-radio-group>
          </ion-col>
          <ion-col size="9" *ngIf="showDriver">
            <ion-item-divider>
              <ion-label>Driver</ion-label>
            </ion-item-divider>
            <ion-select color="gunung-nago-primary" label="Driver" label-placement="floating" fill="outline"
              interface="popover" placeholder="Driver" [(ngModel)]="selectedDriver">
              <ion-select-option *ngFor="let driver of drivers" [value]="driver">{{driver.firstName}}
                {{driver.lastName}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-sm>
            <ion-textarea class="comment" color="gunung-nago-primary" label="Comments" label-placement="floating"
              fill="outline" type="text" clear-input="true" [(ngModel)]="comment" [autoGrow]="true"></ion-textarea>
          </ion-col>
        </ion-row>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn"
            [disabled]="!checkPaymentLessThanSoldAt() || paymentForm.invalid || totalPrice < 1 || !checkPaymentCompleted()"
            (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>