.subtitle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 10px;

    .cart-logo {
        width: 23px;
    }

    .cart-text {
        font-size: 24px;
        padding-top: 8px;
        margin-top: 5px;
        padding-left: 5px;
    }
}

.form-section-cart {
    font-weight: 500;
    padding-top: 9px;
    padding-left: 7px;
    color: black;
    font-size: 18px;
}

.add-payment-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.remove-payment-btn {
    font-size: 12px;
    float: right;
    height: 30px;
    width: 40px;
    margin-top: 23px;
    margin-right: 5px;
}

.add-payment-area {
    display: flex;
    justify-content: space-between;
}

.flock-modal {
    --height: 50em;
    --width: 50em;
}

.eggs {
    width: 4em;
}

.egg-section {
    text-align: center;
    color: black;
}

.egg-count {
    font-size: 18px;
}

.good-bad-egg-section {
    display: flex;
    justify-content: space-around;
    margin-top: 1.75em;
}

.eggs-form {
    margin: 10px 0px 0 10px;
    width: 3em;
}

.big-eggs-form {
    margin: 5px 0px 0 10px;
    width: 3em;
}

.medium-eggs-form {
    margin: 17px 0px 0 10px;
    width: 3em;
}

.small-eggs-form {
    margin: 23px 0px 0 10px;
    width: 3em;
}

.egg-form-section-left {
    margin-right: 1em;
}

.egg-form-section-middle {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.egg-form-section-right {
    margin-left: 1em;
}

.total-per {
    color: black;
    margin-top: 1em;
}

.medium-category {
    margin-top: 3px;
}

.small-category {
    margin-top: 19px;
}

.bad-checkbox-item {
    margin-bottom: 2.6em;
}

.radio-class {
    margin: 10px;
}

h5 {
    font-size: 24px;
    margin-bottom: 0;
}

ion-card-content {
    .main {
        color: black;
        font-size: 24px;
    }

    .sub {
        color: black;
        font-size: 15px;
    }
}

.invoice-title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.invoice {
    margin-right: 10px;
    margin-left: 10px;
}

.print {
    float: right;
    margin-right: 7px;
}

.invoice-subtitle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.invoice-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.invoice-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .logo-img {
        width: 40px;
        padding-right: 10px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    .logo-text {
        color: black;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    margin-top: 2em;
    color: black;
}

.invoice-table {
    width: 100%;
}

.summary-table {
    margin-top: 0;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

textarea {
    width: 100%;
    margin-top: 1.5em;
    background-color: white;
    border-color: #ddd;
    color: black;
}

.salesperson {
    margin-bottom: 10px;
}