<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/stock.png'>
          <h3 class="header-nav-products">Feed Stock</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Search supplier" [(ngModel)]="selectedSupplier" [matAutocomplete]="auto"
              [formControl]="searchSupplierCtrl" placeholder="Seach supplier">
            <button *ngIf="selectedSupplier" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
              <ion-icon name="close-outline"></ion-icon>
            </button>
            <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSupplierSelected()"
              [displayWith]="displayWith">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let supplier of filteredSuppliers" [value]="supplier">
                  <span>{{supplier.name}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showFeedSearchBar">
        <ion-col size-xs="12" size-md="6">
          <ion-searchbar placeholder="Search by feed name..." type="text" #feedName
            (ionInput)="searchByFeedName(feedName.value)"></ion-searchbar>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showFeedTable">
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="feeds">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="feedCategory">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.feedCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="recommendedWeight">
          <th mat-header-cell *matHeaderCellDef> Recommended weight </th>
          <td mat-cell *matCellDef="let element"> {{element.recommendedWeight}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="addFeedToStock(row)" [hidden]="checkIfPresent(row.id)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>

  <ion-item-divider class="stock-divider">
    <ion-label color="ion-color-gunung-nago-feed">Stock</ion-label>
  </ion-item-divider>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table [dataSource]="feedsInStockTable">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="feedCategory">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.feedCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="bags">
          <th mat-header-cell *matHeaderCellDef> Bags</th>
          <td mat-cell *matCellDef="let element">
            <ion-input color="gunung-nago-primary" type="text" clear-input="true" required="true"
              [(ngModel)]="element.bags"></ion-input>
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element">
            <ion-input color="gunung-nago-primary" type="text" clear-input="true" required="true"
              [(ngModel)]="element.price"></ion-input>
          </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element">
            <ion-input color="gunung-nago-primary" type="text" clear-input="true"
              [(ngModel)]="element.weight"></ion-input>
          </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-button color="gunung-nago-warehouse" class="mr-05"
                (click)="removeHealthProductInStock(element)"><ion-icon name="trash"></ion-icon></ion-button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStock"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStock;"></tr>
      </table>
    </div>
  </ion-card>
  <div class="btn-container">
    <ion-button class="cancel-btn" (click)="reset()">Cancel</ion-button>
    <ion-button color="positive-btn" (click)="save()">Save</ion-button>
  </div>
</ion-content>