<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/add-flock.png'>
          <h3 class="header-nav-products">{{ 'flock.flock-details.flock-details' | translate }}</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="flockDetailsForm">
    <div formArrayName="flockDetails" *ngFor="let flockDetails of flockDetailsFields?.controls; let i = index">
      <div [formGroupName]="i">
        <ion-card>
          <ion-card-content>
            <div class="form-array-index">
              <h6>Flock {{i + 1}}</h6>
              <ion-button *ngIf="flockDetailsFields != null && flockDetailsFields.length > 1"
                (click)="removeFlockDetails(i)" class="delete-product-btn" color="gunung-nago-warehouse"><ion-icon
                  name="trash"></ion-icon></ion-button>
            </div>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Name" label-placement="floating" fill="outline"
                  type="text" clear-input="true" formControlName="name"></ion-input>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Initial Age*" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true" formControlName="initialAge"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.initialAge">
                    <div class="error-message"
                      *ngIf="flockDetails.get('initialAge')?.hasError(error.type) && (flockDetails.get('initialAge')?.dirty || flockDetails.get('initialAge')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Actual Age*" label-placement="floating" fill="outline"
                  type="number" min="0" clear-input="true" formControlName="actualAge"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.actualAge">
                    <div class="error-message"
                      *ngIf="flockDetails.get('actualAge')?.hasError(error.type) && (flockDetails.get('actualAge')?.dirty || flockDetails.get('actualAge')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Initial Quantity*" label-placement="floating"
                  fill="outline" type="number" min="0" clear-input="true" formControlName="initialQuantity"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.initialQuantity">
                    <div class="error-message"
                      *ngIf="flockDetails.get('initialQuantity')?.hasError(error.type) && (flockDetails.get('initialQuantity')?.dirty || flockDetails.get('initialQuantity')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Actual Good Quantity*" label-placement="floating"
                  fill="outline" type="number" min="0" clear-input="true" formControlName="actualGood"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.actualGood">
                    <div class="error-message"
                      *ngIf="flockDetails.get('actualGood')?.hasError(error.type) && (flockDetails.get('actualGood')?.dirty || flockDetails.get('actualGood')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col size-xs="12" size-md="3">
                <ion-input color="gunung-nago-primary" label="Actual Sterile Quantity*" label-placement="floating"
                  fill="outline" type="number" min="0" clear-input="true" formControlName="actualSterile"></ion-input>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.actualSterile">
                    <div class="error-message"
                      *ngIf="flockDetails.get('actualSterile')?.hasError(error.type) && (flockDetails.get('actualSterile')?.dirty || flockDetails.get('actualSterile')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-select color="gunung-nago-primary" label="{{ 'flock.flock-details.aquisition-type' | translate }}*"
                  label-placement="floating" fill="outline" interface="popover"
                  placeholder="{{ 'flock.flock-details.aquisition-type' | translate }}"
                  formControlName="aquisitionType">
                  <ion-select-option value="PURCHASE">Purchase</ion-select-option>
                  <!-- <ion-select-option value="BORN_ON_FARM">Born on farm</ion-select-option> -->
                </ion-select>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.aquisitionType">
                    <div class="error-message"
                      *ngIf="flockDetails.get('aquisitionType')?.hasError(error.type) && (flockDetails.get('aquisitionType')?.dirty || flockDetails.get('aquisitionType')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>

              <ion-col size-xs="12" size-md="3">
                <mat-form-field class="date-full-width" appearance="outline">
                  <mat-label>Aquisition Date*</mat-label>
                  <input matInput [matDatepicker]="picker" [max]="today" formControlName="aquisitionDate">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="error-messages">
                  <ng-container *ngFor="let error of errorMessages.aquisitionDate">
                    <div class="error-message"
                      *ngIf="flockDetails.get('aquisitionDate')?.hasError(error.type) && (flockDetails.get('aquisitionDate')?.dirty || flockDetails.get('aquisitionDate')?.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-md="3">
                <ion-select color="gunung-nago-primary" label="Cage" label-placement="floating" fill="outline"
                  interface="popover" formControlName="cageId">
                  <ion-select-option *ngFor="let cage of cages" [value]="cage.id">{{
                    cage.name}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="neutral-btn mr-05" (click)="addFlockDetails()">Add flock</ion-button>
      <ion-button color="positive-btn" [disabled]="flockDetailsForm.invalid" (click)="save()">Save</ion-button>
    </div>
  </form>
</ion-content>