/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.router-links {
    display: flex;
    justify-content: space-between;

    .language-selection {
        height: 3.5em;
    }
}

.title {
    display: flex;
    align-items: center;

    .header-logo {
        width: 45px;
        padding-right: 10px;
        padding-top: 2px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    h3 {
        font-size: 25px;
        margin-top: 10px;

        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

ion-title {
    padding: 0;
}

.title {
    .header-logo {
        padding-top: 0;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: end;
    margin: 1em 1em 1em 0;
}

.cancel-btn {
    margin-right: 0.5em;
    --background: white;
    --background-hover: rgba(184, 181, 181, 0.836);
    --color: black;
}

ion-input {
    --color: black;
}

ion-textarea {
    --color: black;
}

ion-item-divider {
    margin-bottom: 1em;
    border-color: var(--ion-color-gunung-nago-survey);
    color: var(--ion-color-gunung-nago-survey);
    font-weight: 500;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: var(--ion-color-gunung-nago-survey);
}

ion-card {
    &:hover {
        cursor: pointer;
    }
}

.mat-sort-header-arrow {
    color: white;
}

.table-btn {
    display: flex;
    justify-content: end;
}

.mr-05 {
    margin-right: 0.5em;
}