<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/users.png'>
          <h3 class="header-nav-products">Users</h3>
        </div>
        <div>
          <ion-item class="language-selection">
            <ion-select aria-label="language" interface="popover" placeholder="Select language" [(ngModel)]="language"
              (ionChange)="ionChangeLanguage($event)">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="id">Indonesian</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="btn-container">
    <ion-button color="neutral-btn" routerLink="/user/user-details"><ion-icon name="add"></ion-icon></ion-button>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-searchbar placeholder="Search by username, first name, last name..." type="text" #username
            (ionInput)="searchByUserName(username.value)"></ion-searchbar>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <div class="filters">
            <div>

            </div>
            <div>
              <ion-button class="reset" (click)="reset()">Reset Filters</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort (matSortChange)="sortData($event)" matSortDisableClear="true" [dataSource]="users">

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="username"> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName"> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="address"> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="telephoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="telephoneNumber"> Telephone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="dob"> Date of Birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="farms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="farms"> Farm(s) </th>
          <td mat-cell *matCellDef="let element">
            <div class="telephone-column" *ngFor="let farm of element.farms; let i = index">
              <strong>Name: </strong>{{farm.name}} |
              <strong>Address: </strong>{{farm.name}}
              <br>
            </div>
        </ng-container>


        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="roles"> Role(s) </th>
          <td mat-cell *matCellDef="let element">
            <div class="telephone-column" *ngFor="let farm of element.roles">
              {{farm.role}}
              <br>
            </div>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-btn">
              <ion-icon class="table-edit-icon" color="neutral-btn" (click)="openModal(element)"
                name="create"></ion-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ion-card>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more users...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="user-modal" backdropDismiss="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/edit.png'>
            <h3 class="modal-header-text">Edit User</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="userEditForm">
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Username*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="username" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.username">
                  <div class="error-message"
                    *ngIf="userEditForm.get('username')?.hasError(error.type) && (userEditForm.get('username')?.dirty || userEditForm.get('username')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Password*" label-placement="floating" fill="outline"
                type="password" clear-input="true" formControlName="password" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.password">
                  <div class="error-message"
                    *ngIf="userEditForm.get('password')?.hasError(error.type) && (userEditForm.get('password')?.dirty || userEditForm.get('password')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="First Name*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="firstName" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.firstName">
                  <div class="error-message"
                    *ngIf="userEditForm.get('firstName')?.hasError(error.type) && (userEditForm.get('firstName')?.dirty || userEditForm.get('firstName')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Last Name*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="lastName" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.lastName">
                  <div class="error-message"
                    *ngIf="userEditForm.get('lastName')?.hasError(error.type) && (userEditForm.get('lastName')?.dirty || userEditForm.get('lastName')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <mat-form-field class="date-full-width" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Telephone Number*" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="phone" required="true"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.phone">
                  <div class="error-message"
                    *ngIf="userEditForm.get('phone')?.hasError(error.type) && (userEditForm.get('phone')?.dirty || userEditForm.get('phone')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Email" label-placement="floating" fill="outline" type="text"
                clear-input="true" formControlName="email"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="error-message"
                    *ngIf="userEditForm.get('email')?.hasError(error.type) && (userEditForm.get('email')?.dirty || userEditForm.get('email')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-md="6">
              <ion-input color="gunung-nago-primary" label="Address" label-placement="floating" fill="outline"
                type="text" clear-input="true" formControlName="address" required="true"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="12">
              <ion-select color="gunung-nago-primary" label="Role*" label-placement="floating" fill="outline"
                interface="popover" required="true" formControlName="roles" [multiple]="true">
                <ion-select-option *ngFor="let farm of roles" [value]="farm.roleId">
                  {{farm.role}}
                </ion-select-option>
              </ion-select>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.farm">
                  <div class="error-message"
                    *ngIf="userEditForm.get('roles')?.hasError(error.type) && (userEditForm.get('roles')?.dirty || userEditForm.get('roles')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="12" size-md="12">
              <ion-select color="gunung-nago-primary" label="Farm*" label-placement="floating" fill="outline"
                interface="popover" required="true" formControlName="farms" [multiple]="true">
                <ion-select-option *ngFor="let farm of farms" [value]="farm.id">
                  <strong>Name: </strong>{{farm.name}} |
                  <strong>Address: </strong>{{farm.name}}
                </ion-select-option>
              </ion-select>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.farm">
                  <div class="error-message"
                    *ngIf="userEditForm.get('farm')?.hasError(error.type) && (userEditForm.get('farm')?.dirty || userEditForm.get('farm')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </form>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" [disabled]="userEditForm.invalid" (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>