<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/flaticon/point-of-sale.png'>
          <h3 class="header-nav-products">Point of Sale</h3>
        </div>
        <div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-row>
    <ion-col col-md-6 size="6" size-sm>
      <form [formGroup]="saleForm">
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/customer.png'>
          <div class="form-section-cart">Customer</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Customer Details</ion-label>
            </ion-item-divider>
            <div>
              <ion-row>
                <ion-col>
                  <ion-toggle labelPlacement="start" class="toggle" formControlName="newCustomer"
                    (ionChange)="newCustomerChange($event)" color="gunung-nago-report">New
                    Customer*</ion-toggle>
                </ion-col>
                <span *ngIf="selectedCustomer?.totalAmountDue" class="ion-text-right red amount-due-customer-sale"
                  (click)="routeToSalesInvoiceCustomerCreditList()">
                  <strong>Total Credit Amount: Rp {{selectedCustomer.totalAmountDue}}</strong>
                </span>
              </ion-row>
              <ion-row *ngIf="!isNewCustomer">
                <ion-col size="12">
                  <mat-form-field class="autocomplete-full-width" appearance="outline">
                    <input matInput placeholder="Search customer..." [(ngModel)]="selectedCustomer"
                      [matAutocomplete]="auto" [formControl]="searchCustomerCtrl" placeholder="Seach customer...">
                    <button *ngIf="selectedCustomer" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearCustomer(searchCustomerCtrl)">
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                    <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete"
                      (optionSelected)="setSelectedCustomer($event)" [displayWith]="displayWith">
                      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                          <span>{{customer.lastName}} {{customer.firstName}}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <ion-row formGroupName="customer">
                <ion-col size-xs="12" size-md="12">
                  <ion-toggle labelPlacement="start" class="toggle" formControlName="internal"
                    color="gunung-nago-report">Internal*</ion-toggle>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="firstName" label="First Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.firstName">
                      <div class="error-message"
                        *ngIf="saleForm.get('customer.firstName')?.hasError(error.type) && (saleForm.get('customer.firstName')?.dirty || saleForm.get('customer.firstName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="lastName" label="Last Name*" label-placement="floating" fill="outline"
                    type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.lastName">
                      <div class="error-message"
                        *ngIf="saleForm.get('customer.lastName')?.hasError(error.type) && (saleForm.get('customer.lastName')?.dirty || saleForm.get('customer.lastName')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="customer">
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="address" label="Address" label-placement="floating" fill="outline"
                    type="text" clear-input="true">
                  </ion-input>
                </ion-col>
                <ion-col col-md-6 size="6" size-sm>
                  <ion-input formControlName="telephoneNumber" label="Telephone*" label-placement="floating"
                    fill="outline" type="text" clear-input="true" required="true">
                  </ion-input>
                  <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.telephoneNumber">
                      <div class="error-message"
                        *ngIf="saleForm.get('customer.telephoneNumber')?.hasError(error.type) && (saleForm.get('customer.telephoneNumber')?.dirty || saleForm.get('customer.telephoneNumber')?.touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-col>
    <ion-col col-md-6 size="6" size-sm>
      <div *ngIf="showFlock">
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/flock.png'>
          <div class="form-section-cart">Flocks</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Flock Stock</ion-label>
            </ion-item-divider>
            <div class="flock-count-section">
              <div class="flock-section">
                <div>
                  <strong>Total</strong>
                </div>
                <img class="flocks" src='./assets/flaticon/flock.png'>
                <div class="flock-count">
                  <strong>{{flockStockCountDto.alive}}</strong>
                </div>
              </div>

              <div class="flock-section">
                <div>
                  <strong>Good</strong>
                </div>
                <img class="flocks" src='./assets/flaticon/good-chicken.png'>
                <div class="flock-count">
                  <strong>{{flockStockCountDto.good}}</strong>
                </div>
              </div>

              <div class="flock-section">
                <div>
                  <strong>Sterile</strong>
                </div>
                <img class="flocks" src='./assets/flaticon/sterile-chicken.png'>
                <div class="flock-count">
                  <strong>{{flockStockCountDto.sterile}}</strong>
                </div>
              </div>
            </div>

          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="showManure">
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/manure.png'>
          <div class="form-section-cart">Fertilizer</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Fertilizer Stock</ion-label>
            </ion-item-divider>
            <ion-row>
              <ion-col col-md-3 size="3" size-sm *ngFor="let manure of manures">
                <div class="manure-stock">
                  <div class="manure-section-top">
                    <strong>{{manure.weight}} (KG)</strong>
                  </div>
                  <img class="manures" src='./assets/flaticon/manure-bag.png'>
                  <div class="manure-count">
                    <strong>{{manure.bags}}</strong>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="showFeed">
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/feed.png'>
          <div class="form-section-cart">Feed</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Feed Stock</ion-label>
            </ion-item-divider>
            <div class="feed-stock">
              <div class="manure-section-top">
                <strong>{{selectedFeed.name}}</strong>
              </div>
              <img class="manures" src='./assets/flaticon/feed.png'>
              <div class="manure-count">
                <strong>{{selectedFeed.bags}}</strong>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="showEgg">
        <div class="subtitle">
          <img class="cart-logo" src='./assets/flaticon/eggs.png'>
          <div class="form-section-cart">Eggs</div>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>Egg Stock</ion-label>
            </ion-item-divider>
            <div class="good-bad-egg-section">
              <div class="egg-section">
                <div>
                  <strong>Total</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.totalEggs}}</strong>
                </div>
              </div>

              <div class="egg-section">
                <div>
                  <strong>Good</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/good-eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.goodEggs}}</strong>
                </div>
              </div>

              <div class="egg-section">
                <div>
                  <strong>Bad</strong>
                </div>
                <img class="eggs" src='./assets/flaticon/bad-eggs.png'>
                <div class="egg-count">
                  <strong>{{eggStock.badEggs}}</strong>
                </div>
              </div>
            </div>
            <ion-row class="egg-stock-section">
              <ion-col col-md-3 size="3" size-sm *ngFor="let eggCategory of eggStock.eggCategoryStockDtos">
                <div class="egg-section">
                  <div>
                    <strong>{{eggCategory.name | titlecase}}</strong>
                  </div>
                  <img class="eggs" src='./assets/flaticon/category-big.png'>
                  <div class="egg-count">
                    <strong>{{eggCategory.quantity}}</strong>
                  </div>
                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>

  </ion-row>

  <div class="subtitle">
    <img class="cart-logo" src='./assets/flaticon/quantity.png'>
    <div class="form-section-cart">Quantity and Price</div>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item-divider>
        <ion-label>Sale To Jakarta</ion-label>
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <ion-toggle labelPlacement="start" class="toggle" [(ngModel)]="isToJakarta" color="gunung-nago-report"
            (ionChange)="changeIsToJakarta($event)"> Is Sale To Jakarta</ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isToJakarta">
        <ion-col size-xs="6" size-md="6">
          <ion-input color="gunung-nago-survey" label="Price per KG*" label-placement="floating" fill="outline"
            type="number" min="0" clear-input="true" [(ngModel)]="pricePerKg"></ion-input>
        </ion-col>
      </ion-row>
      <div *ngFor="let saleDetail of saleDetailsDto; let i = index">
        <!-- Type -->
        <ion-item-divider>
          <ion-label>{{i}}</ion-label>
        </ion-item-divider>
        <div class="form-array-index">
          <h6></h6>
          <ion-button *ngIf="saleDetailsDto.length > 1" class="delete-product-btn" color="gunung-nago-warehouse"><span
              (click)="removeSaleDetails(i)" class="material-icons">delete</span></ion-button>
        </div>
        <ion-row>
          <ion-col size-lg="2" size-md="3" size-xs="12">
            <ion-select color="gunung-nago-primary" label="Type" label-placement="floating" fill="outline"
              interface="popover" clear-input="true" [(ngModel)]="saleDetail.salesInvoiceType"
              (ionChange)="ionSelectType($event, i)">
              <ion-select-option *ngFor="let salesInvoiceType of salesInvoiceTypes" [value]="salesInvoiceType">{{
                salesInvoiceType | titlecase
                }}</ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Manure -->
          <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.salesInvoiceType === 'MANURE'">
            <ion-select color="gunung-nago-primary" label="Weight (KG)" label-placement="floating" fill="outline"
              interface="popover" required="true" (ionChange)="ionSelectManure($event, i)">
              <ion-select-option *ngFor="let manure of manures" [value]="manure">{{ manure.weight
                }}</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-lg="4" size-md="4" size-xs="12" *ngIf="saleDetail.manureWeightPerBag">
            <ion-select color="gunung-nago-primary" label="Fertilizer Stock" label-placement="floating" fill="outline"
              interface="popover" required="true" [(ngModel)]="saleDetail.manureStockId">
              <ion-select-option *ngFor="let manureStock of saleDetail.manureStocks" [value]="manureStock.id">
                {{manureStock.bags ? manureStock.bags : 0}} - BAGS | Collected on: {{manureStock.collectedDate |
                date:'dd-MM-yyyy'}} |
                Collected By: {{manureStock.collectedByFirstName | titlecase}} {{manureStock.collectedByLastName |
                titlecase}}</ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Feed -->
          <ion-col size-lg="4" size-md="4" size-xs="12" *ngIf="saleDetail.salesInvoiceType === 'FEED'">
            <ion-searchbar type="text" (ionInput)="searchFeed($event, i)"></ion-searchbar>
            <mat-radio-group *ngIf="saleDetailsDto[i].feeds.length > 0" class="radio-feed"
              [(ngModel)]="saleDetailDto.feedId" (ngModelChange)="ionRadioSelectFeed($event, i)">
              <mat-radio-button color="primary" *ngFor="let feed of saleDetailsDto[i].feeds" [value]="feed">
                {{ feed.name }} |
                {{feed.feedCategory}}
                |
                {{feed.bags}}
                BAGS
              </mat-radio-button>
            </mat-radio-group>
          </ion-col>

          <!-- Flock -->
          <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.salesInvoiceType === 'FLOCK'">
            <ion-select color="gunung-nago-primary" label="Cage" label-placement="floating" fill="outline"
              interface="popover" required="true" [(ngModel)]="saleDetail.cageId"
              (ionChange)="ionSelectCage($event, i)">
              <ion-select-option *ngFor="let cage of cages" [value]="cage.id">{{ cage.name
                }}</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-lg="2" size-md="3" size-xs="12"
            *ngIf="saleDetail.salesInvoiceType === 'FLOCK' && saleDetail.cageId != null">
            <ion-select color="gunung-nago-primary" label="Flock Type" label-placement="floating" fill="outline"
              interface="popover" clear-input="true" [(ngModel)]="saleDetail.flockType">
              <ion-select-option *ngFor="let flockType of flockTypes" [value]="flockType">{{
                flockType | titlecase
                }}</ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Egg -->
          <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.salesInvoiceType === 'EGG'">
            <ion-select color="gunung-nago-primary" label="Egg Type" label-placement="floating" fill="outline"
              interface="popover" clear-input="true" [(ngModel)]="saleDetail.eggCategoryId"
              (ionChange)="ionSelectEggCategory($event, i)">
              <ion-select-option *ngFor="let eggType of eggStock.eggCategoryStockDtos"
                [value]="eggType.eggCategoryId">{{eggType.name | titlecase}}</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-lg="2" size-md="3" size-xs="12"
            *ngIf="saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggCategoryId != null">
            <ion-select color="gunung-nago-primary" label="Quantity Type" label-placement="floating" fill="outline"
              interface="popover" clear-input="true" [(ngModel)]="saleDetail.eggQuantityType"
              (ngModelChange)="isToJakarta? saleDetail.quantity = 1 : null">
              <ion-select-option *ngFor="let eggQuantityType of eggQuantityTypes" [value]="eggQuantityType">{{
                eggQuantityType | titlecase
                }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <!-- Flock -->
        <div *ngIf="saleDetail.salesInvoiceType === 'FLOCK'">
          <ion-row class="quantity-qp">
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.flockType === 'STERILE'">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/sterile-chicken.png'>
                  <div class="quantity-count">
                    <strong>{{saleDetail.sterileChicken}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.flockType === 'GOOD'">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/good-chicken.png'>
                  <div class="quantity-count">
                    <strong>{{saleDetail.goodChicken - saleDetail.quantity}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="2" size-md="3" size-xs="12"
              *ngIf="(saleDetail.salesInvoiceType === 'FLOCK' && saleDetail.flockType != null)">
              <ion-input color="gunung-nago-survey" label="Quantity" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.quantity"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0">
              <ion-input color="gunung-nago-survey" label="Price" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.price"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0 && saleDetail.price > 0">
              <div class="total-per ml-05">
                <strong>Amount: {{saleDetail.price * saleDetail.quantity}}</strong>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <!-- Egg -->
        <div *ngIf="saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggCategoryId != null">
          <ion-row class="quantity-qp" *ngIf="!isToJakarta">
            <ion-col size-lg="2" size-md="3" size-xs="12">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/eggs.png'>

                  <div class="quantity-count" *ngIf="saleDetail.eggQuantityType != null">
                    <strong *ngIf="saleDetail.eggQuantityType === 'TIE'">{{saleDetail.eggInitialQuantity -
                      (saleDetail.quantity *
                      300)}}</strong>
                    <strong *ngIf="saleDetail.eggQuantityType === 'TRAY'">{{saleDetail.eggInitialQuantity -
                      (saleDetail.quantity *
                      30)}}</strong>
                    <strong *ngIf="saleDetail.eggQuantityType === 'PIECE'">{{saleDetail.eggInitialQuantity -
                      saleDetail.quantity}}</strong>
                  </div>
                  <div class="quantity-count" *ngIf="saleDetail.eggQuantityType === null">
                    <strong>{{saleDetail.eggInitialQuantity}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12"
              *ngIf="(saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggQuantityType != null)">
              <ion-input color="gunung-nago-survey" label="Quantity" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.quantity"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0">
              <ion-input color="gunung-nago-survey" label="Price" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.price"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0 && saleDetail.price > 0">
              <div class="total-per ml-05">
                <strong>Amount: {{saleDetail.price * saleDetail.quantity}}</strong>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="quantity-qp" *ngIf="isToJakarta">
            <ion-col size-lg="2" size-md="3" size-xs="12">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/eggs.png'>

                  <div class="quantity-count" *ngIf="saleDetail.eggQuantityType != null">
                    <strong *ngIf="saleDetail.eggQuantityType === 'TIE'">{{saleDetail.eggInitialQuantity -
                      (saleDetail.quantity *
                      300)}}</strong>
                    <strong *ngIf="saleDetail.eggQuantityType === 'TRAY'">{{saleDetail.eggInitialQuantity -
                      (saleDetail.quantity *
                      30)}}</strong>
                    <strong *ngIf="saleDetail.eggQuantityType === 'PIECE'">{{saleDetail.eggInitialQuantity -
                      saleDetail.quantity}}</strong>
                  </div>
                  <div class="quantity-count" *ngIf="saleDetail.eggQuantityType === null">
                    <strong>{{saleDetail.eggInitialQuantity}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12"
              *ngIf="(saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggQuantityType != null)">
              <ion-input color="gunung-nago-survey" label="Weight Per {{saleDetail.eggQuantityType | titlecase}} (KG)"
                label-placement="floating" fill="outline" type="number" min="0" clear-input="true"
                [(ngModel)]="saleDetail.eggWeight" (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.eggWeight > 0 && pricePerKg > 0">
              <div class="total-per ml-05">
                <strong>Amount: {{saleDetail.eggWeight * pricePerKg}}</strong>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <!-- Manure -->
        <div *ngIf="saleDetail.manureStockId">
          <ion-row class="quantity-qp">
            <ion-col size-lg="2" size-md="3" size-xs="12">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/manure-bag.png'>
                  <div class="quantity-count">
                    <strong>{{saleDetail.manureBags - saleDetail.quantity}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="2" size-md="3" size-xs="12">
              <ion-input color="gunung-nago-survey" label="Quantity" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.quantity"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0">
              <ion-input color="gunung-nago-survey" label="Price" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.price"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0 && saleDetail.price > 0">
              <div class="total-per ml-05">
                <strong>Amount: {{saleDetail.price * saleDetail.quantity}}</strong>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <!-- Feed -->
        <div *ngIf="saleDetail.salesInvoiceType === 'FEED'">
          <ion-row class=" quantity-qp">
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetailsDto[i].feedStockId">
              <div class="quantity-count-section">
                <div class="quantity-section">
                  <div>
                    <strong>Quantity In Stock</strong>
                  </div>
                  <div class="manure-section-top">
                    <strong>{{saleDetailsDto[i].feedName}}</strong>
                  </div>
                  <img class="quantities" src='./assets/flaticon/feed.png'>
                  <div class="quantity-count">
                    <strong>{{saleDetailsDto[i].feedBags - saleDetailDto.quantity}}</strong>
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="4" size-md="4" size-xs="12" *ngIf="saleDetailsDto[i].feedId">
              <ion-select color="gunung-nago-primary" label="Feed Stock" label-placement="floating" fill="outline"
                interface="popover" required="true" (ionChange)="ionSelectFeedStock($event, i)">
                <ion-select-option *ngFor="let feedStock of saleDetail.feedStocks" [value]="feedStock">
                  {{feedStock.bags}} - BAGS | Recommended Price: {{feedStock.recommendedPrice}} </ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetailsDto[i].feedStockId">
              <ion-input color="gunung-nago-survey" label="Quantity" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.quantity"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0">
              <ion-input color="gunung-nago-survey" label="Price" label-placement="floating" fill="outline"
                type="number" min="0" clear-input="true" [(ngModel)]="saleDetail.price"
                (ngModelChange)="calculateTotalPrice()"></ion-input>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-xs="12" *ngIf="saleDetail.quantity > 0 && saleDetail.price > 0">
              <div class="total-per ml-05">
                <strong>Amount: {{saleDetail.price * saleDetail.quantity}}</strong>
              </div>
            </ion-col>
          </ion-row>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

  <div class="btn-container">
    <ion-button color="neutral-btn mr-05" (click)="addSaleDetailsToStock()">Add Product</ion-button>
    <ion-button class="cancel-btn" (click)="reset()">Cancel</ion-button>
    <ion-button color="positive-btn" [disabled]="totalPrice < 0" (click)="openModal()">Save</ion-button>
  </div>


  <ion-row>
    <ion-col size-lg="8" size-md="6" size-xs="12">
      <ion-card class="invoice" *ngIf="totalPrice > 0">
        <ion-card-content>
          <div class="subtitle">
            <img class="cart-logo" src='./assets/flaticon/official-documents.png'>
            <div class="form-section-cart">Preview Sales Invoice</div>
          </div>
          <div class="invoice-title">
            <div>
              <div class="invoice-logo">
                <img class="logo-img" src='./assets/icon/chicken/icons8-chicken-64.png'>
                <h5 class="logo-text"><strong>{{company}}</strong></h5>
              </div>
              <div>
                <div class="sub"><strong>Address:</strong> {{address}} </div>
                <div class="sub"><strong>Telephone Number(s):</strong> {{phone}}</div>
                <div class="sub"><strong>Email:</strong> {{email}}</div>
                <!-- <div class="sub"><strong>Registration Number (SIUP):</strong> {{regNo}}</div> -->
                <div class="sub"><strong>Year of Establishment:</strong> {{yoe}}</div>
              </div>
            </div>

            <div>
              <span class="main"><strong>Invoice No: ...</strong></span>
              <div class="sub"><strong>Date Issued:</strong> </div>
              <div class="sub">{{today | date:'EEEE, MMMM d, y HH:mm'}}
              </div>
            </div>
          </div>
          <div class="invoice-subtitle">
            <div
              *ngIf="saleForm.get('customer.firstName')?.value != 'anonymous' && saleForm.get('customer.firstName')?.value != null && saleForm.get('customer.firstName')?.value != ''">
              <div class="sub"><strong>Invoice To:</strong></div>
              <span class="sub"><strong>Name:
                </strong> {{saleForm.get('customer.firstName')?.value}}
                {{saleForm.get('customer.lastName')?.value}}</span>
              <div class="sub">
                <strong>Address:</strong> {{saleForm.get('customer.address')?.value}}
              </div>
              <div class="sub"><strong>Telephone
                  Number:</strong> {{saleForm.get('customer.telephoneNumber')?.value}}</div>
            </div>
            <div>
              <!-- <div *ngIf="manureSalesInvoiceDetailsFrontDto.salesPerson != null" class="salesperson">
                <div class="sub"><strong>Salesperson:</strong> {{manureSalesInvoiceDetailsFrontDto.salesPerson}}</div>
              </div>
              <div *ngIf="manureSalesInvoiceDetailsFrontDto.driverFirstName != null">
                <div class="sub"><strong>Driver:</strong> {{manureSalesInvoiceDetailsFrontDto.driverFirstName}}
                  {{manureSalesInvoiceDetailsFrontDto.driverLastName}}</div>
              </div> -->
            </div>
          </div>

          <table class="invoice-table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price<span *ngIf="isToJakarta"> - EGG Per KG </span></th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let saleDetail of saleDetailsDto; let i = index">
                <td data-label="No.">{{i + 1}}</td>
                <td data-label="Product" *ngIf="saleDetail.salesInvoiceType === 'MANURE'">MANURE</td>
                <td data-label="Product"
                  *ngIf="saleDetail.salesInvoiceType === 'FLOCK' && saleDetail.flockType === 'STERILE'">CHICKEN -
                  <strong>STERILE</strong>
                </td>
                <td data-label="Product"
                  *ngIf="saleDetail.salesInvoiceType === 'FLOCK' && saleDetail.flockType === 'GOOD'">CHICKEN -
                  <strong>GOOD</strong>
                </td>
                <td data-label="Product" *ngIf="saleDetail.salesInvoiceType === 'FEED'">Feed -
                  <strong>{{saleDetail.feedName}}</strong>
                </td>

                <td data-label="Product" *ngIf="saleDetail.salesInvoiceType === 'EGG'">
                  EGG - <strong>{{saleDetail.eggType}}</strong></td>

                <td data-label="Quantity" *ngIf="saleDetail.salesInvoiceType === 'FLOCK'">{{saleDetail.quantity}}</td>
                <td data-label="Quantity"
                  *ngIf="saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggQuantityType === 'TIE'">
                  {{saleDetail.quantity}} - <strong>TIE</strong> <span> - {{saleDetail.eggWeight}} KG</span></td>
                <td data-label="Quantity"
                  *ngIf="saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggQuantityType === 'TRAY'">
                  {{saleDetail.quantity}} - <strong>TRAY</strong> <span> - {{saleDetail.eggWeight}} KG</span></td>
                <td data-label="Quantity"
                  *ngIf="saleDetail.salesInvoiceType === 'EGG' && saleDetail.eggQuantityType === 'PIECE'">
                  {{saleDetail.quantity}} - <strong>PIECE</strong> <span> - {{saleDetail.eggWeight}} KG</span></td>

                <td data-label="Quantity" *ngIf="saleDetail.salesInvoiceType === 'FEED'">
                  {{saleDetail.quantity}} - <strong>BAG(S)</strong> - {{saleDetail.feedWeightPerBag}} KG</td>
                <td data-label="Quantity" *ngIf="saleDetail.salesInvoiceType === 'MANURE'">
                  {{saleDetail.quantity}} - <strong>BAG(S)</strong> - {{saleDetail.manureWeightPerBag}} KG</td>

                <td data-label="Unit Price" *ngIf="saleDetail.salesInvoiceType !== 'EGG'">Rp {{saleDetail.price | number
                  : '1.2-2'}}</td>
                <td data-label="Unit Price" *ngIf="saleDetail.salesInvoiceType === 'EGG' && isToJakarta">Rp {{pricePerKg
                  | number : '1.2-2'}}</td>
                <td data-label="Unit Price" *ngIf="saleDetail.salesInvoiceType === 'EGG' && !isToJakarta">Rp
                  {{saleDetail.price | number : '1.2-2'}}</td>


                <td data-label="Amount" *ngIf="saleDetail.salesInvoiceType !== 'EGG'">Rp {{saleDetail.quantity *
                  saleDetail.price | number : '1.2-2'}}</td>
                <td data-label="Amount" *ngIf="saleDetail.salesInvoiceType === 'EGG' && isToJakarta">Rp
                  {{saleDetail.eggWeight *
                  pricePerKg | number :
                  '1.2-2'}}</td>
                <td data-label="Amount" *ngIf="saleDetail.salesInvoiceType === 'EGG' && !isToJakarta">Rp
                  {{saleDetail.quantity * saleDetail.price | number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>

          <div class="invoice-footer">
            <div>
            </div>
            <div>
              <div class="invoice-date-title">
                <table class="summary-table">
                  <tbody>
                    <tr>
                      <th id="total" colspan="1">SubTotal :</th>
                      <td>Rp {{totalPrice | number :'1.2-2'}}</td>
                    </tr>
                    <tr>
                      <th id="total" colspan="1">Total :</th>
                      <td>Rp {{totalPrice | number :'1.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size-lg="4" size-md="6" size-xs="12">

    </ion-col>
  </ion-row>

  <ion-modal (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen" cssClass="payment-modal"
    backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <div class="title">
            <img class="header-logo ml-15" src='./assets/flaticon/confirmation.png'>
            <h3 class="modal-header-text">Sales Confirmation</h3>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="false" class="ion-padding">
        <form [formGroup]="paymentForm">
          <ion-row *ngIf="checkIfInternal()">
            <ion-col>
              <ion-toggle labelPlacement="start" class="toggle" formControlName="internal"
                color="gunung-nago-report">Internal*</ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Total Price" label-placement="floating" fill="outline"
                type="number" formControlName="totalPrice"></ion-input>
            </ion-col>
            <ion-col size-xs="6" size-md="6" *ngIf="!this.paymentForm.get('internal')?.value">
              <ion-input color="gunung-nago-primary" label="Sold at*" label-placement="floating" fill="outline"
                type="number" formControlName="soldAt"></ion-input>
              <div class="error-messages">
                <ng-container *ngFor="let error of errorMessages.soldAt">
                  <div class="error-message"
                    *ngIf="paymentForm.get('soldAt')?.hasError(error.type) && (paymentForm.get('soldAt')?.dirty || paymentForm.get('soldAt')?.touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!this.paymentForm.get('internal')?.value">
            <ion-col size-xs="6" size-md="6">
              <ion-input color="gunung-nago-primary" label="Discount (%)" label-placement="floating" fill="outline"
                [disabled]="true" type="number"
                [value]="(((paymentForm.get('totalPrice')?.value - paymentForm.get('soldAt')?.value)) / paymentForm.get('totalPrice')?.value) * 100"></ion-input>
            </ion-col>
          </ion-row>

          <div class="add-payment-area" *ngIf="!this.paymentForm.get('internal')?.value">
            <div>
            </div>
            <div>
              <ion-button color="neutral-btn" class="add-payment-btn" (click)="addPayment()">Add Payment</ion-button>
            </div>
          </div>

          <span *ngIf="!this.paymentForm.get('internal')?.value">
            <div formArrayName="payments" *ngFor="let payment of paymentsFields?.controls; let i = index">
              <ion-item-divider>
                <ion-label>Payment</ion-label>
              </ion-item-divider>
              <span [formGroupName]="i">
                <ion-button *ngIf="paymentsFields != null && paymentsFields.length > 1" (click)="removePayment(i)"
                  class="remove-payment-btn" color="gunung-nago-warehouse"><span
                    class="material-icons">delete</span></ion-button>
                <ion-row>
                  <ion-col size="6" size-sm>
                    <ion-input color="gunung-nago-primary" label="Amount Paid*" label-placement="floating"
                      fill="outline" type="number" formControlName="amountPaid"></ion-input>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.amountPaid">
                        <div class="error-message"
                          *ngIf="payment.get('amountPaid')?.hasError(error.type) && (payment.get('amountPaid')?.dirty || payment.get('amountPaid')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>

                  <ion-col size="6">
                    <ion-select color="gunung-nago-primary" label="Payment Mode*" label-placement="floating"
                      fill="outline" interface="popover" formControlName="paymentModeId">
                      <ion-select-option *ngFor="let paymentMode of paymentModes" [value]="paymentMode">{{
                        paymentMode.name| titlecase}}</ion-select-option>
                    </ion-select>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.paymentModeId">
                        <div class="error-message"
                          *ngIf="payment.get('paymentModeId')?.hasError(error.type) && (payment.get('paymentModeId')?.dirty || payment.get('paymentModeId')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="payment.get('paymentModeId')?.value?.id === 1">
                  <ion-col size="6">
                    <mat-form-field class="date-full-width" appearance="outline">
                      <mat-label>Payment Deadline</mat-label>
                      <input matInput [matDatepicker]="picker" [min]="today" formControlName="paymentDeadline">
                      <mat-hint>DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="payment.get('paymentModeId')?.value?.requireBankAccount">
                  <ion-col size="6">
                    <ion-select color="gunung-nago-primary" label="Bank Account" label-placement="floating"
                      fill="outline" interface="popover" formControlName="bankAccountId">
                      <ion-select-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.id">{{
                        bankAccount.accountHolder| uppercase}} - {{bankAccount.accountNumber}} -
                        {{bankAccount.bankName}}</ion-select-option>
                    </ion-select>
                    <div class="error-messages">
                      <ng-container *ngFor="let error of errorMessages.bankAccountId">
                        <div class="error-message"
                          *ngIf="payment.get('bankAccountId')?.hasError(error.type) && (payment.get('bankAccountId')?.dirty || payment.get('bankAccountId')?.touched)">
                          {{ error.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>
              </span>
            </div>
          </span>
        </form>

        <ion-row *ngIf="!this.paymentForm.get('internal')?.value">
          <ion-col size="3">
            <ion-item-divider>
              <ion-label>Option</ion-label>
            </ion-item-divider>
            <ion-radio-group [(ngModel)]="salesInvoiceCategory" (ionChange)="selectSalesInvoiceCategory($event)">
              <div *ngFor="let salesInvoiceCategory of salesInvoiceCategories" class="radio-class">
                <ion-radio color="positive-btn" [value]="salesInvoiceCategory">{{salesInvoiceCategory === 'IN_STORE'?
                  'In Store' : 'Delivery'}}</ion-radio><br />
              </div>
            </ion-radio-group>
          </ion-col>
          <ion-col size="9" *ngIf="showDriver">
            <ion-item-divider>
              <ion-label>Driver</ion-label>
            </ion-item-divider>
            <ion-select color="gunung-nago-primary" label="Driver" label-placement="floating" fill="outline"
              interface="popover" [(ngModel)]="selectedDriver">
              <ion-select-option *ngFor="let driver of drivers" [value]="driver">{{driver.firstName}}
                {{driver.lastName}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-sm>
            <ion-textarea class="comment" color="gunung-nago-primary" label="Comments" label-placement="floating"
              fill="outline" type="text" clear-input="true" [(ngModel)]="comment" [autoGrow]="true"></ion-textarea>
          </ion-col>
        </ion-row>
        <div class="modal-btn-container ion-text-right">
          <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
          <ion-button color="positive-btn" *ngIf="!this.paymentForm.get('internal')?.value"
            [disabled]="!checkPaymentLessThanSoldAt() || paymentForm.invalid || totalPrice < 1 || !checkPaymentCompleted()"
            (click)="confirm()">Save</ion-button>
          <ion-button color="positive-btn" *ngIf="this.paymentForm.get('internal')?.value"
            (click)="confirm()">Save</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>