.input {
    width: 100%;
    padding-right: 10px;
}

table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}

.container {
    width: 80%;
    padding: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

tbody {
    overflow-x: scroll;
}

// .mat-mdc-table tbody,
// .mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
// .mat-mdc-footer-cell,
// .mat-mdc-header-row,
// .mat-mdc-row,
// .mat-mdc-footer-row,
// .mat-mdc-table 
.mat-mdc-header-cell {
    border: 1px solid #CCC;
}

.mat-mdc-cell:first-child {
    border-left: 0;
}

.mat-mdc-cell:last-child {
    border-right: 0;
}

.mdc-data-table__header-cell {
    border-top: 0;
}

.mdc-data-table__header-cell:first-child {
    border-left: 0;
}

.mdc-data-table__header-cell:last-child {
    border-right: 0;
}

.mat-mdc-table .mdc-data-table__header-row {
    background: var(--ion-color-gunung-nago-supplier);
    color: white;
}

.mdc-data-table__header-cell {
    color: white;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #ececec;
}

ion-input {
    margin: 5px;
    border-bottom: 1px solid gray;
}

.stock-divider {
    border-color: var(--ion-color-gunung-nago-supplier);
    color: var(--ion-color-gunung-nago-supplier);
}

.health-divider {
    border-color: var(--ion-color-gunung-nago-report);
    color: var(--ion-color-gunung-nago-report);
}

.feed-divider {
    border-color: var(--ion-color-gunung-nago-feed);
    color: var(--ion-color-gunung-nago-feed);
}

.divider-health-product-img {
    margin: 4px 0px 0 10px;
    width: 2.5em;
}

.divider-stock-img {
    margin: 4px 0px 0 10px;
    width: 2.5em;
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sub-total {
    margin: 0 1em 1em 1em;
    font-size: 18px;
    font-weight: 500;
    color: red;
}


h5 {
    font-size: 24px;
    margin-bottom: 0;
}

ion-card-content {
    .main {
        color: black;
        font-size: 15px;
    }

    .sub {
        color: black;
        font-size: 15px;
    }
}


.invoice-margin {
    max-width: 85em;
    margin: 20px auto;

    .invoice {
        margin-right: 10px;
        margin-left: 10px;

        .invoice-title {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            border-bottom: 1px solid lightgray;

            .invoice-logo {
                display: flex;
                align-items: center;

                .logo-img {
                    width: 48px;
                    padding-right: 10px;

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .logo-text {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .print {
        float: right;
        margin-right: 7px;
    }

    .invoice-subtitle {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .invoice-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.invoice-subtitle {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.invoice {
    margin-right: 10px;
    margin-left: 10px;

    .invoice-title {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid lightrgb(141, 140, 140);

        .invoice-logo {
            display: flex;
            align-items: center;

            .logo-img {
                width: 48px;
                padding-right: 10px;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }

            .logo-text {
                color: black;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.invoice {
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        margin-top: 2em;
        color: black;
    }

    .invoice-table {
        width: 100%;
    }

    .summary-table {
        margin-top: 0;
        width: auto;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
        border: 1px solid #ddd;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    .invoice-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

.invoice-title {
    border-bottom: 1px solid lightgray;
}

.subtitle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .cart-logo {
        width: 23px;
    }

    .cart-text {
        font-size: 24px;
        padding-top: 8px;
        margin-top: 5px;
        padding-left: 5px;
    }
}

.form-section-cart {
    font-weight: 500;
    padding-top: 10px;
    padding-left: 7px;
    color: #000;
    font-size: 18px;
}

ion-modal {
    ion-input {
        border-bottom: none;
    }

    .comment {
        padding-left: 10px;
    }
}

.divider-feed-img {
    margin: 4px 0px 0 10px;
    width: 2.5em;
}

.divider-stock-img {
    margin: 4px 0px 0 10px;
    width: 2.5em;
}

.product-wrapper {
    display: flex;
}

.product-health-img {
    width: 3em;
}

.product-health {
    margin-top: 11px;
}

.product-feed-img {
    width: 3em;
}

.product-feed {
    margin-top: 11px;
}

.search-bar {
    width: 100%;
}

.add-flock-btn {
    margin-left: 10px;
}